[2020-04-20 06:56] omry commented on #547
1. Without a minimal example I can't reproduce this and understand what it is that you are actually doing.

2. Taking a guess, you should customize the logging filename and the hydra output directory.
See the [this](https://hydra.cc/docs/configure_hydra/logging/) and this [example](https://github.com/facebookresearch/hydra/tree/master/examples/configure_hydra/logging) of log customization.

You ca

[2020-04-20 06:56] #547 closed

[2020-04-20 07:57] omry opened #548 "Update logging customization documentation"
It does not seem right.

[2020-04-20 09:00] binshengliu opened #549 "[Feature Request] Fish shell tab completion"
# 🚀 Feature Request

Adding completion support for [fish shell](https://fishshell.com/).

## Motivation

**Is your feature request related to a problem? Please describe.**
Nope. This just improves the user experience.

## Pitch

**Describe the solution you'd like**

The solution uses fish's [`complete`](https://fishshell.com/docs/current/#writing-your-own-completions) command to register completio

[2020-04-20 09:37] omry commented on #549
Hi @binshengliu, this looks nice!
if you want to submit as PR for this and invest more time into getting this to work, I can offer my feedback and guidance on integrating this with the automated shell completion test suite .

[2020-04-20 09:51] binshengliu commented on #549
Sure. Please let me know what I need to do.

[2020-04-20 16:57] omry commented on #549
Submit a draft PR and I will give you the feedback there.

[2020-04-20 17:04] omry commented on #549
Why not? how is it different then the one where you run the Python file directly?

That is a serious problem, I am not sure this will pass the tests.
Did you reach out on some fish forum/irc thread to discuss this? there could be a way to prevent it.

I can tell you have to do that over a PR. it will be easier.

[2020-04-20 17:27] omry commented on #549
We can [open an issue against fish](https://github.com/fish-shell/fish-shell/issues/new) to discuss this use case. both = and . are special cases for Hydra completion that should not have a space following them.

[2020-04-21 07:34] binshengliu commented on #549
This rule registers new completion for `python` command. Fish can only remove all the rules of `python` or specific options like `-v`, `--verbose`.

They already complete `=` properly because they support `--long-option=LONG_OPTION` style, and I think it's [hard-coded](https://github.com/fish-shell/fish-shell/blob/6ebbe5a4507d906e78a71314256f0abe735ca88f/src/complete.cpp#L200). I'll find some time

[2020-04-21 17:53] omry commented on #549
awesome, let's move the discussion to the PR.
I will take a look at it later tonight or tomorrow (need to focus on other things).

[2020-04-22 01:55] binshengliu commented on #549
No problem. Regarding the extra space issue, it seems one use case is not convincing enough the `.` should be a special case like `=` (https://github.com/fish-shell/fish-shell/issues/6928). I was asking if they'd like to to make it customizable. Otherwise, I don't have better solutions but document it clearly at the moment.

[2020-04-22 02:01] omry commented on #549
Thanks. I saw the comment there and this is not something that makes sense for Hydra.
I think we need to explain why, and ask for some more flexibility from Fish.

by the way, please join the [chat](https://hydra-framework.zulipchat.com/#), it will be easier to communicate there.

[2020-04-26 03:22] shagunsodhani opened #554 "[Ax] Fix OmegaConf warnings related to the future compact key support"
Related to https://github.com/omry/omegaconf/issues/152

[2020-04-26 17:25] erip opened #556 "[Feature Request] Allow for list of config groups to include"
# 🚀 Feature Request

Hydra should allow a list of config groups t

## Motivation

Consider the case of including some set of metrics in an experiment. It would be nice to allow a user to specify these:

[code]

with the ability to override them.

## Pitch

This is fairly different from what hydra typically does, which seems to be oriented toward testing _mutually exclusive classes of configuration

[2020-04-26 17:34] omry commented on #556
Duplicate of #499

[2020-04-26 17:34] #556 closed

[2020-04-26 17:37] omry commented on #556
Thanks for the suggestion, there is already a very similar one (#499).
This is a very fundamental change and will require some thinking, as well as some user facing changes that I want to make sure makes sense.

[2020-04-26 17:38] omry commented on #556
In the mean time, you can emulate this using OmegaConf merge functionality.

[2020-04-26 17:46] erip commented on #556
Ah, I didn't look hard enough - sorry about that! I'll drop down into OmegaConf for now and if we can move up a level to hydra later, that would be awesome. 👍 thanks for the quick response!

[2020-04-28 18:35] jbohnslav opened #559 "[Bug] Paths not properly configured when packaged"
# 🐛 Bug

I'm releasing my app as a pip package. I want users to be able to type "my_app" at the command line. I want this main script to take a Hydra configuration as input.

What works:
`python -m my_app.gui.main`
What doesn't work:
`my_app`

In my_app\gui\main:
[code]

In my setup.py:
[code]

** Stack trace/error message **
[code]

## System information
- **Hydra Version** : hydra-core         0

[2020-04-28 19:04] jbohnslav commented on #559
Edit: I think it was just a versioning issue. Switching to the "old" version of issue #92 works fine.

[2020-04-28 19:04] #559 closed

[2020-04-28 19:15] omry commented on #559
@jbohnslav, [this](https://hydra.cc/docs/advanced/app_packaging) is the doc for the app packaging.
There is a link there to a [working example](https://github.com/facebookresearch/hydra/tree/0.11_branch/examples/advanced/hydra_app_example) you should base your think on.

[2020-05-04 18:40] #539 closed

[2020-05-04 20:11] omry commented on #349
## Improved form
### Command line errors:
[code]
### Errors merging a specific config file:
[code]

[2020-05-04 20:58] omry commented on #548
fixed

[2020-05-04 20:58] #548 closed

[2020-05-04 22:30] #546 closed

[2020-05-04 22:46] omry opened #566 "Recursive instantiation"
this would go well with a change to the config definition of an instantiated object:
### Current
[code]
### New
[code]

Once this is implemented, we can describe recursive instantiation like:
[code]
An remaining open question is how to support passthrough for nested objects.

Currently, passthrough can override individual values:

[code]

a possible approach is for nested objects is to use a dicti

[2020-05-04 22:47] omry commented on #419
Created #556 to track this. (no concrete plans to implement yet).

[2020-05-04 22:47] #419 closed

[2020-05-04 22:58] #349 closed

[2020-05-05 01:46] shagunsodhani opened #568 "[Ax] Update installation instructions"

[2020-05-05 03:51] #568 closed

[2020-05-05 15:48] omry opened #571 "Update basic tutorial to disambiguate db node from db config group"

[2020-05-06 01:01] #7 closed

[2020-05-06 01:36] omry commented on #7
See [this](https://hydra.cc/docs/next/configure_hydra/job#hydrajobenv_set) for details.

[2020-05-06 12:41] jgehring opened #573 "Multirun: allow commas in config values set from command-line"
Passing `--multirun foo=bar,baz` will result in a sweep over the two specified values for `key`. However, the comma might be used as a part of an actual string value. A simple fix would be to allow introduce an escape character for value splitting, so that e.g. `--multirun foo=bar/,baz` results in a single "bar,baz" value for "foo".

[2020-05-06 15:22] omry commented on #573
Thanks @jgehring, this is something I can look at for the next major version.
If you would like to give it a stab I will be willing to review a PR for 1.0 introducing this (along with proper tests).
This should probably go into the BasicSweeper.

[2020-05-07 00:53] Darktex opened #574 "[Feature Request] Allow Initialize to take a module"
# 🚀 Feature Request

Allow hydra.experimental.initialize to take a calling module

[2020-05-07 00:59] Darktex opened #575 "[Feature Request] Allow @hydra.main() to take a config object and pass it through"
# 🚀 Feature Request

Allow @hydra.main() to take a config and pass it through

[2020-05-07 01:54] omry commented on #575
Will look into it.

[2020-05-07 02:13] omry commented on #298
From the PR closing this:

The sweep config file contains, among other things, the command line used in the run.
This run:
[code]
Would result in this in `multirun/.../.../sweep.yaml`:
[code]

[2020-05-07 17:53] lkhphuc commented on #575
Hi, is this feature the only way to run test of a decorated hydra function?
I have something like this with `run` decorated by `hydra.main`:
[code]
but it is not allowed.

[2020-05-07 18:41] omry commented on #575
currently there is no supported way to do it. this feature is exactly about supporting this use case.

[2020-05-07 19:33] omry commented on #361
This seems pretty good:
bandit --exclude "./tests/**,./.nox/**" -ll  -r .

[2020-05-07 19:35] omry commented on #361
@jrapin, this is something we should address.

[code]

[2020-05-07 21:30] omry opened #577 "Fix Ax sweeper to pass common sweeper tests"
#576 introduces common sweeper tests that should pass for all Sweeper.
Currently those tests are failing for the Ax sweeper, please re-enable the tests (commented out in #576) and fix the Ax sweeper such that they pass.

[2020-05-07 21:31] omry opened #578 "Fix Nevergrad sweeper to pass common sweeper tests"
#576 introduces common sweeper tests that should pass for all Sweeper.
Currently those tests are failing for the Nevergrad  sweeper, please re-enable the tests (commented out in #576) and fix the Nevergrad  sweeper such that they pass.

[2020-05-07 23:05] #298 closed

[2020-05-07 23:28] omry commented on #322
since this is essentially a list of key=value pairs, I actually think the current format is preferred to both alternative ideas:
[code]
This would would allow passing pairs :
[code]

which is not really supposed to happen.

This one is just too verbose:
[code]

[2020-05-07 23:28] #322 closed

[2020-05-08 19:25] omry opened #579 "Nevergrad Plugin eval usage"
The NeverGrad plugin is using eval which is dangerous.
Please see if this can be eliminated (bandit suggests ast.literal_eval as a safer alternative).
[code]

[2020-05-08 21:02] shagunsodhani commented on #554
Closed in https://github.com/shagunsodhani/hydra/commit/6927d43f9c1b0c1d0241468cb3eb4e43cb4af9c6

[2020-05-08 21:02] #554 closed

[2020-05-09 13:58] sankethvedula opened #580 "referencing files without defaults, dealing with list of files"
Hi,

Let's say I have the following config directory.

[code]

I would like to compose my ``` trainer_config.yaml ```  as follows:
[code]
I encounter two problems doing this:
1. I see that hydra doesn't let me instantiate paths to files if keys are not listed under ```defaults```. Is there a way to compose configurations from multiple files without using ```defaults``` (the way I mentioned above)?

[2020-05-09 14:37] omry commented on #580
0. reformat your config directory, I can't parse it.

I am loosing you at

You are composing a configuration object, not a configuration file.
What do you mean here?

Do you want to compose a single object with all of the choices? both models and both optimizers?
Are you actually going to use both optimizers and both models at runtime in a single run?

I will try to answer after you clarify.

[2020-05-09 14:44] sankethvedula commented on #580
Sorry about the unclear formulation!

Thanks for the clarification about the defaults and for the prompt response! :)

Yes, I would actually like to use both optimizers and both models within a _single_ run.

What seemed natural to me was using the defaults this way:

[code]

But it doesn't seem to parse lists of files. What's the correct way to go about such a system?

[2020-05-09 15:05] omry commented on #580
Configuration groups are currently mutually exclusive. There is a feature request looking at relaxing this but it's not currently supported.

If you always want to use both, you can just keep them both in a single file and not decompose them into two files.

[2020-05-09 15:07] omry commented on #580
See [this](https://hydra.cc/docs/tutorial/config_groups).

What are you actually trying to achieve? Why are you using two optimizers and two models in the same run? is this for GAN, D and G and models?

[2020-05-09 15:46] omry commented on #235
Your question does not seem related, please ask it in the chat or open a new issue.

[2020-05-09 16:59] sankethvedula commented on #580
Hi Omry. thanks for the response. The link you've sent is helpful, I'll try to continue this discussion on the Zulip channel -- probably that's a better place to discuss this :)

[2020-05-09 17:25] omry commented on #580
@sankethvedula, this link is a part of the basic tutorial.
I strongly suggest that you read the entire thing :)

Closing, feel free to continue this on the chat.

[2020-05-09 17:25] #580 closed

[2020-05-09 19:38] isvoboda opened #582 "Overwrite default configuration"
My use-case includes predefined configuration of an experiment based on the suggestion from https://github.com/facebookresearch/hydra/issues/386#issuecomment-589586845

I do not know how to redefine the selection of group `model` in `defaults`:

- `conf/config.yaml`
[code]

- `conf/model/UNetPix.yaml`

[code]

- `conf/model/UNetTC.yaml`

[code]

I would like to add configuration of an experiment w

[2020-05-09 19:39] isvoboda commented on #235
I would say it is a particular case related to the "composing the same config node in multiple places". I have opened a new issue https://github.com/facebookresearch/hydra/issues/582#issue-615246165

[2020-05-09 19:57] omry commented on #582
The only supported way to override the defaults list when using @hydra.main() is through the command line.
[code]

I suspect what you really want would be addressed by the potential support for recursive defaults. but this is not something that will happen soon and I still have some questions about it's viability.

See #171 for the info about the task to add recursive detauls.

[2020-05-09 20:17] omry commented on #582
An alternative workaround would come once support for an alternative primary config is introduced.
that way you will be able to have a defaults list in your alternative primary config. this is likely be supported before recursive defaults.

[2020-05-10 11:55] anthonytec2 commented on #405
I have been looking at OmegaConfs documentation and it appears under the hood you could create a custom interpolator to do your `50 * ${data.first_subsampling}` [this](https://omegaconf.readthedocs.io/en/latest/usage.html#custom-interpolations). This appears to be a really nice feature where users can define custom functions to do interpolation. @omry is there any integration for using these custo

[2020-05-10 15:38] omry commented on #405
This seems like a good question for [StackOverflow ](https://stackoverflow.com/questions/tagged/fb-hydra) (and not really related for this issue as far as I can tell).
would you mind asking there? I am trying to build a Hydra question base there (tag #fb-hydra).

[2020-05-10 16:35] #582 closed

[2020-05-10 20:54] shagunsodhani commented on #488
I think this has been fixed in #527 :)

[2020-05-10 20:54] #488 closed

[2020-05-11 18:28] omry commented on #405
[Question here](https://stackoverflow.com/questions/61714759/hydra-custom-interpolator).

[2020-05-12 16:24] omry commented on #394
the motivation to make -m the default is to use the configured launcher, right? (without sweeping).

[2020-05-12 18:01] jan-matthis commented on #394
No, it's actually mostly to get sweeping per default

[2020-05-12 19:58] omry opened #585 "Update documentation and examples to support @package"
Design doc:

https://docs.google.com/document/d/10aU2axeJj_p_iv1Hp9VulYLL5qyvhErg89MKFGbkZO4/edit#

[2020-05-13 01:24] omry opened #586 "Introduce @package header support"
### Package Header
Hydra 1.0 introduces a package header described in details in [this design doc](https://docs.google.com/document/d/10aU2axeJj_p_iv1Hp9VulYLL5qyvhErg89MKFGbkZO4/edit?usp=sharing).

The header contains the `@package` directive, defined as:

`@package`: `_global_` | `package-path`
- `_global_`: Global package, this is the default behavior in Hydra `0.11`
- `package-path`: Explicit

[2020-05-13 08:16] omry commented on #421
Closing as we have a workaround (officially supporting only 3.7+ with the joblib launcher plugin).
This is an acceptable workaround for now, if people insist on using it with 3.6 I can reopen.

[2020-05-13 08:16] #421 closed

[2020-05-13 08:17] omry commented on #428
Issue fixed in cloudpickle.

[2020-05-13 08:17] #428 closed

[2020-05-13 08:18] omry commented on #398
This does not seem to justify the extra complexity, closing.

[2020-05-13 08:18] #398 closed

[2020-05-13 12:05] jrapin commented on #579
`ast.literal_eval`: The string or node provided may only consist of the following Python literal structures: strings, numbers, tuples, lists, dicts, booleans, and None.

So basically it will not work. Either providing custom parametrization must be dropped or it stays this way. It's pretty safe in the sense that it only accepts strings starting with a specific pattern, and that's only interpreting

[2020-05-13 12:52] jrapin commented on #578
Is it used anywhere and working? The tests don't even seem to pass when using the basic hydra sweeper

[2020-05-13 15:50] omry commented on #579
can you give an example of an accepted usage right now? (in config or command line).

[2020-05-13 16:08] omry commented on #578
It does , but not with overriding the function:

[Basuc launcher test](https://github.com/facebookresearch/hydra/blob/master/tests/test_basic_launcher.py#L11-L13) (uses the basic sweeper by default)

[Example sweeper test](https://github.com/facebookresearch/hydra/blob/master/plugins/examples/example_sweeper_plugin/tests/test_example_sweeper_plugin.py#L42-L56
)

I am not seeing an example when I o

[2020-05-13 16:11] omry commented on #578
I suggest you wait until @shagunsodhani implements this for the Ax sweeper, no point in both of you trying to make it work at the same time.
Let's see what he ends up with for Ax first.

[2020-05-13 16:17] shagunsodhani commented on #578
Yeah I plan to work on it tonight.

[2020-05-13 16:18] jrapin commented on #579
https://hydra.cc/docs/next/plugins/nevergrad_sweeper#custom-parameter

[2020-05-13 17:29] omry commented on #579
Okay. let's remove it.
If there is anything not supported by the command line DSL we are converging on we should consider extending it or supporting it via a mechanism that does not directly evaluate used provided code.

[2020-05-16 02:44] #586 closed

[2020-05-16 02:44] #235 closed

[2020-05-16 10:06] gunthergl commented on #386
This comment goes in the direction of @jbohnslav, I think @tamuhey 's question can, but does not have to be connected with it because in this case I assume you can have a userconfig inside the search path.

[code]

`config_default.yaml`:
[code]
`base.yaml`:
[code]
`userconfig.yaml`:
[code]

`my_app.py`
[code]

And the output is:

  first_param: 1
  userdefined_param: 2

For `multirun`, I added `us

[2020-05-16 10:19] gunthergl commented on #386
I just found that it is sufficient to have the following main config file `config_default.yaml`:

[code]

Then generally, its base and you can overwrite it on the commandline.

Still, I do not know if there are unwanted side effects.

[2020-05-16 17:14] omry commented on #386
@gunthergl, I mentioned this approach in multiple comments above.
This is also documented in the tutorial to some extent [here](https://hydra.cc/docs/tutorial/config_groups).

[2020-05-16 18:51] #438 closed

[2020-05-17 21:15] vict0rsch opened #591 "[Bug] Running Hydra with Pytest yields `NotImplementedError` error"
# 🐛 Bug

Running Hydra with Pytest yields `NotImplementedError` error

## To reproduce

[code]

[code]

** Stack trace/error message **

[code]

## Expected Behavior

I'd like to understand how to use Hydra in a testing environment, considering that I can't wrap this `test_hydra_is_loaded` function with `@hydra.main()`

## System information
- **Hydra Version** :  0.11.3
- **Python version** : Pyt

[2020-05-17 21:29] omry commented on #591
Are you?

[2020-05-17 21:30] vict0rsch commented on #591
No there is a `__init__.py` file in the folder, I updated the issue

[2020-05-17 21:33] omry commented on #591
Okay.
I have been using the compose API successfully with pytest inside Hydra.
I can dig into it, but it will be a while before I get to it.
For now I recommend:
1. did into it youself.
2. Check with Hydra on master.

[2020-05-17 21:34] omry commented on #591
https://github.com/facebookresearch/hydra/blob/master/tests/test_compose.py

[2020-05-18 01:20] omry opened #592 "Fish completion is not working"
Fish completion does not seem to work:

[code]

[2020-05-18 01:21] omry commented on #592
@binshengliu, any idea why this is happening?

I am using (for test) this fish from ubuntu 18.4:
fish, version 2.7.1

[2020-05-18 04:56] binshengliu commented on #592
The option [`-n`](https://fishshell.com/docs/current/cmds/string-split.html) seems to be introduced in [`3.0.0`](https://github.com/fish-shell/fish-shell/releases/tag/3.0.0) (search `--no-empty`).

This is useful when users type multiple spaces like `python[ ][ ]foo.py`. Piping to grep `set -l parts (string split ' ' $COMP_LINE | grep -v '^$')` should have the same effect with the compatibility of

[2020-05-18 06:34] omry commented on #591
Personally I use pytest and not unittest.
Does pytest run unittests? you seem to be mixing them in this example.

[2020-05-18 06:50] omry commented on #592
Yes. that will work.
if strings is faster than forking grep maybe it's best to do it only for < 3.0.0 (you can base it on the FISH_VERSION environment variable).

[2020-05-18 06:51] omry commented on #592
What are you splitting here?
is this something that the fish plugin in Python is outputting?
can we just filter empty strings there instead?

[2020-05-18 10:33] binshengliu commented on #592
It splits the current command line `python foo.py db.name=` into an array which mimics https://github.com/facebookresearch/hydra/blob/04b792b965178474c51fd9204b9b321b6fa4b764/hydra/_internal/core_plugins/bash_completion.py#L25

I found an easier fix. `commandline` has an option `-o` to return the tokenized command line. So `set -l parts (commandline -cpo)` works for older versions as well.

[2020-05-18 15:54] #579 closed

[2020-05-18 15:56] #592 closed

[2020-05-18 15:56] omry commented on #592
awesome, thanks.

[2020-05-20 08:55] ImMrMa opened #597 "[What a fxxk doc you write? Even can't run office example correctly!!]"
# 🐛 Bug

can't run office example correctly.
https://hydra.cc/docs/configure_hydra/logging
## To reproduce

** Minimal Code/Config snippet to reproduce **
config.yaml
defaults:
  - hydra/job_logging: custom
files
![image](https://user-images.githubusercontent.com/24520617/82426441-707c2480-9aba-11ea-9aa5-05555116f0b7.png)

 File "my_app.py", line 11, in <module>
    my_app()
  File "/data00/home/m

[2020-05-20 09:05] #597 closed

[2020-05-20 09:06] omry commented on #597
learn to communicate with respect and come back.

[2020-05-20 09:06] omry commented on #597
in fact, don't bother.

[2020-05-20 09:27] ImMrMa commented on #597
in fact, you write a shit doc. I'm a real man, it's my feeling of your holy shit doc.

[2020-05-20 09:28] omry commented on #597
Please don't use Hydra.

[2020-05-20 11:46] moinfar commented on #386
Hi,
I believe the requested feature is a must-have.

By the way, I suggest this workaround:
[code]

This way you can specify your config file by adding `config=somefile.yaml` at the beginning of your command.

[2020-05-20 16:13] omry commented on #386
This requested feature is also a will-have.
Patience.

[2020-05-21 00:21] omry opened #598 "Command line processing changes"
1. Adding a new item to the defaults list or to the config now requires the `+` prefix.
2. Removing an item from the defaults list or from the config now requires the `~` prefix
3. Removing an item from the defaults list by assigning null (db=null) is now deprecated and will be removed in Hydra 1.1.

See [this](https://docs.google.com/document/d/1wSRG2K_sXLY9uKJmCSJTaTEXIYvIIrgvolAGuO32-qQ/edit?us

[2020-05-23 16:51] vict0rsch opened #601 "Where is hydra_nevergrad_sweeper?"
# 🐛 Bug

In the docs, it is written that `pip install hydra_nevergrad_sweeper` should allow me to use nevergrad as sweeper (after having installed hydra from master).

This package however does not exist. What's the preferred way to use Nevergrad then?

Thanks!

[2020-05-23 17:01] omry commented on #601
Hi,
The plugin is not yet released as it depends on Hydra 1.0 which is not yet released.
You can install both directly from the repository.
Checkout hydra, and pip install both directories:

[code]

[2020-05-23 17:01] #601 closed

[2020-05-23 17:11] vict0rsch commented on #601
Thanks!

[2020-05-23 22:14] omry commented on #601
By the way:
Both the Ax plugin and the Nevergrad plugin are:
1. Still subject to interface changes.
2. New and may contain bugs and documentation issues.

Please report any issues.

[2020-05-24 00:03] omry opened #602 "Update basic tutorial"
The basic tutorial is re-written with the following changes:

1. New command line syntax
2. Packages support
3. Deprecation of the strict mode flag
4. Deprecation of defaults list deletion by assigning "null".

[2020-05-24 00:06] #585 closed

[2020-05-24 00:06] #598 closed

[2020-05-24 00:06] #602 closed

[2020-05-24 13:37] vict0rsch commented on #601
I understand, no worries :) thanks for the heads up anyway

[2020-05-24 23:17] omry commented on #386
This is coming, and by "this", I mean what I am ready to support at this stage:
Hydra 1.0 is splitting the config_path into a config_path and config_name, you can learn about it [here](https://hydra.cc/docs/next/upgrades/0.11_to_1.0/config_path_changes).

This feature is opening up the door for overriding the config name and the config path individually through a simple command line flag.

### Lim

[2020-05-25 06:58] #386 closed

[2020-05-25 07:08] #362 closed

[2020-05-25 07:08] omry commented on #571
no longer needed after the introduction of @package.

[2020-05-25 07:08] #571 closed

[2020-05-25 23:05] omry commented on #591
1. Don't use hydra.conf, you are competing with the configuration of Hydra itself, that lives in the same package.

2. config_path is either relative to the script calling initialize, or absolute.
You can just do this:
[code]
3. If you did not install the module, you will need to use PYTHONPATH.
[code]

Working example attached.
Structure:
[1.zip](https://github.com/facebookresearch/hydra/files/46

[2020-05-25 23:05] #591 closed

[2020-05-25 23:46] vict0rsch commented on #591
I resolved to parsing things myself for a simple use-case but thanks for the pointers I'll try that if I need to update my tests!

[2020-05-26 04:13] #574 closed

[2020-05-26 18:42] omry opened #606 "Submitit launcher plugin (Slurm launcher)"
[Submitit](https://github.com/facebookincubator/submitit/) is a recently open-sourced library for submitting jobs to SLURM.

There is an existing submitit slurm plugin which is not open sourced yet. this task is about porting it to Hydra 1.0 and open sourcing it.

[2020-05-26 18:44] omry commented on #606
cc @jrapin , @gwenzek, @shagunsodhani, @jieru-hu

[2020-05-26 18:52] omry opened #607 "Update structured configs tutorial"
1. Align with basic tutorial as possible.
2. Make sure it reflects changes to `@package` and command line processing.

[2020-05-26 19:24] egonuel opened #608 "joblib example crashes with "Input config does not have a cls field""
# 🐛 Bug

I installed hydra using pip from github and the joblib plugin as described here [https://hydra.cc/docs/next/plugins/joblib_launcher](https://hydra.cc/docs/next/plugins/joblib_launcher)
When trying the provided example for the joblib launcher with "-m task=1,2,3,4,5" I get this error:
`Input config does not have a cls field`.
Digging into the lib code and printing it, the config causing th

[2020-05-26 19:28] omry commented on #608
The installation instructions are temporarily wrong.
Hydra 1.0 RC is getting pretty close. for now install the joblib plugin from Hydra master.

I am updating the installation instructions now, please try them in a few minutes.

[2020-05-26 19:28] #608 closed

[2020-05-26 19:28] omry commented on #608
Feel free to reopen if that does not solve your issue.

[2020-05-26 19:44] egonuel commented on #608
this was quick, it works now. Thank you!
Btw thank you for this wonderful library!

[2020-05-26 19:58] omry commented on #608
Tell your friends about it :)

[2020-05-27 01:27] omry commented on #437
This is no longer blocking 1.0.

[2020-05-27 02:24] omry opened #610 "Try circleci matrix to speed up CI and simplify ci config"
1. We ca each plugin in it's own job.
2. We can parameterize Python version instead of having to replicate job config 3 times.

https://circleci.com/blog/circleci-matrix-jobs/

[2020-05-27 02:28] #575 closed

[2020-05-27 20:46] omry commented on #354
Delaying this to Hydra 1.1, this is related to some changes I want to how defaults are being processed.

[2020-05-28 04:52] #325 closed

[2020-05-28 09:13] omry opened #615 "Expose new experimental initialization APIs through hydra.experimental"

[2020-05-28 17:21] omry commented on #324
I missed your question, sorry.
See [this](https://hydra.cc/docs/tutorial/working_directory#original-working-directory) for ways to access files in the original working directory.

[2020-05-28 19:47] #324 closed

[2020-05-28 20:41] #615 closed

[2020-05-29 02:18] omry opened #620 "Fix error message of adding config value without +"
1. Fix defaults override case to match:
[code]
2. Fix config override case to be similar to 1.

[2020-05-29 08:00] sebascuri opened #622 "Recursive Object Creation [Feature Request]"
# 🚀 Feature Request

It is useful to have a recursive object initialization.

## Motivation
Suppose I have the following structure
[code]

The class Agent is defined as follows
[code]

The class ComplexProperty is defined as follows
[code]

The agent.yaml looks like:
[code]

## Pitch
**Describe the solution you'd like**
I'd like to be able to call hydra.utils.instantiate(cfg.agent) and this should

[2020-05-29 08:04] sebascuri commented on #622
It could also be useful to set a parameter in the config.yaml file that is used by sub-classes as a

[2020-05-29 08:04] #622 closed

[2020-05-29 08:06] sebascuri commented on #622
It is also useful to set a global parameter (in this case the seed) in the config.yaml, such that if you modify it from the CLI, you modify it in all the configs, too.

[2020-05-29 08:08] omry commented on #622
Please see #566. It is an RFC (Request for comments) for a possible approach.

[2020-05-29 09:31] omry commented on #622
See interpolations in the OmegaConf documentation.

[2020-05-29 16:16] jieru-hu opened #623 "Move submitit launcher config to structured config"
a follow up on https://github.com/facebookresearch/hydra/pull/619/files

[2020-05-29 17:35] omry commented on #610
Some links for dynamic jobs triggering:

[trigger-a-new-pipeline](https://circleci.com/docs/api/v2/#trigger-a-new-pipeline)
[Conditional-steps-in-jobs-and-conditional-workflows](https://support.circleci.com/hc/en-us/articles/360043638052-Conditional-steps-in-jobs-and-conditional-workflows
)
[conditional-workflows](https://github.com/CircleCI-Public/api-preview-docs/blob/master/docs/conditional-wor

[2020-05-29 17:56] jieru-hu opened #624 "submitit fails on python3.6"
It seems like it's related to the fact the hydra project is typed, reason being: 1) same tests worked on https://github.com/fairinternal/hydra-fair-plugins (no typing) 2) error message

[code]

[2020-05-29 18:01] omry commented on #624
This is a bug that was fixed in upstream cloud-pickle as far as I know.
can you try to upgrade it?

[2020-05-29 18:28] jieru-hu commented on #624
tried to install cloudpickle from source
[code]
same error
[code]

Also tried on cloudpickle 1.4.1, same stacktrace

[2020-05-29 18:31] jieru-hu commented on #624
cloudpickle open issue https://github.com/cloudpipe/cloudpickle/issues/317

[2020-05-29 18:52] jieru-hu commented on #624
the exact exception happened while pickling (not cloudpickling)

https://github.com/facebookincubator/submitit/blob/master/submitit/core/utils.py#L278

[code]
related pickle PR https://github.com/python/typing/issues/511

[2020-05-29 18:55] omry commented on #624
okay. regardless - I think submitit is dumping with cloudpickle.

[2020-05-29 21:06] #620 closed

[2020-05-31 17:51] omry opened #629 "Support for OmegaConf Structured Configs"
OmegaConf introduced Structured Configs in version [2.0](https://github.com/omry/omegaconf/releases/tag/2.0.0).

Allow Hydra apps to take advantage of Structured Configs.

[2020-05-31 17:52] omry commented on #629
Done

[2020-05-31 17:52] #629 closed

[2020-05-31 17:53] omry opened #630 "Upgrade to OmegaConf 2.0"
[Release notes](https://github.com/omry/omegaconf/releases/tag/2.0.0)

[2020-05-31 17:53] #630 closed

[2020-05-31 22:23] JamieJamesJamie opened #633 "Allow adding help messages to command line arguments"
# 🚀 Feature Request

It would be nice to be able to add help messages (similar to the [argparse library](https://docs.python.org/3/library/argparse.html#help)) to command line arguments defined in .yaml configs / structured configs.

These help messages should be available to view conveniently when typing `python myapp.py --help` into the command line so that the program's user doesn't have to loo

[2020-05-31 22:37] omry commented on #633
Hi, Thanks for the suggestion.
This is on my radar, but definitely not trivial.

YAML Parsers are stripping the comments. This is not a potentially quick workaround but one that would require writing a new YAML parser. Which is at best a multi-month effort.
(I know that because I [tried](github.com/omry/antelope/) ).

I don't like this one for the reasons you stated.

This is getting close.
I actu

[2020-06-01 18:26] jieru-hu commented on #606
Ran the example app on SLURM

[code]

[2020-06-02 14:22] jrapin commented on #624
Yes submitit is dumping with cloudpickle.
I'm pretty sure this error comes from trying to pickle a Dict[str, str] and not a dict:
if you instantiate a dict this way `my_dict = Dict[str, str]()` instead of `my_dict: Dict[str, str] = {}` then the object won't be picklable.
I did not see this in the plugin though, can this happen in Omegaconf?
I'll check in submitit itself as well but since the execu

[2020-06-02 14:58] pvnieo opened #642 "multiple use of the same component"
# 🚀 Feature Request

Hi all,

Thanks for the awesome library.

I have a question regarding multiple use of the same component. Let's say that I have two databases configurations (postgre and sql), both are saved under the directory `db`. And in my main `config.yaml`, I want to use the two databases for some application, let's say that I have some information saved in the first database, and other

[2020-06-02 15:02] jrapin commented on #624
Couldn't find any in OmegaConf nor submitit, I think this may be due to ObjectConf though, since it inherits from Dict[str, str] and is used as default initializer

[2020-06-02 16:29] omry commented on #642
Hi @pvnieo!
[Hydra 1.0](https://github.com/facebookresearch/hydra/releases/tag/hydra-1.0.0rc1) release candidate was just released a few day ago.

Try using it's new [packages](https://hydra.cc/docs/next/advanced/package_directive) feature.

[2020-06-02 16:33] omry commented on #642
Closing as I think this is exactly what you you need. feel free to continue the discussion here or in the chat if you have followup questions.

[2020-06-02 16:33] #642 closed

[2020-06-02 16:37] omry commented on #624
It [does not ](https://github.com/omry/omegaconf/blob/master/omegaconf/dictconfig.py#L47).

This is still likely somewhere in there though. It [keeps types around](https://github.com/omry/omegaconf/blob/master/omegaconf/dictconfig.py#L69).

[2020-06-02 17:39] jrapin commented on #624
I'm talking about ObjectConf
https://github.com/facebookresearch/hydra/blob/2e8a381fc2d7da2b37ee218f32f9e67ea7f5754e/hydra/types.py#L13

[2020-06-02 22:47] omry opened #643 "Cover interaction between @packages and defaults in the docs"
Overriding of packages should be described here:

https://hydra.cc/docs/next/advanced/package_directive

This should include both overriding through the defaults and overriding through the command line.

[2020-06-03 18:16] omry commented on #624
[code]

[2020-06-04 19:50] omry opened #646 "[Bug] error merging with a structured config that contains a frozen object."
1. Structured configs containing frozen node can't be used even if nothing is being merged into the node,
2. full_key is wrong.

[code]

[2020-06-04 19:55] omry opened #647 "[Bug] config access errors in the code should include stack trace"
When the user is making a config access error in the code the stack trace should include the offending file+line.

[2020-06-05 10:13] ParikaGoel opened #649 "Using Hydra in jupyter notebook"
I am able to use the library in python files. But in the documentation, I can not see how can I use it in notebook. Below is the screenshot of my notebook:

![image](https://user-images.githubusercontent.com/35452780/83865101-fab4c180-a725-11ea-9ff0-7c54d7b2492a.png)

[2020-06-05 16:11] shagunsodhani opened #650 "[Bug] Hydra fails to instantiate objects in specific cases"
# 🐛 Bug

Hydra fails to instantiate when the caller expects an arg called `params` and the value is not a supported primitive type.

## To reproduce

https://colab.research.google.com/drive/16jOM9kKwSpu1DdUcJETMe6LOz0G9Gnqh?usp=sharing

** Stack trace/error message **
[code]

## Expected Behavior

No Exception

## System information
- **Hydra Version** :  1.0.0rc1
- **Python version** : 3.7
- **Vi

[2020-06-05 18:15] #623 closed

[2020-06-05 18:40] omry commented on #649
See the [compose API](https://hydra.cc/docs/next/experimental/compose_api).

[2020-06-05 18:40] #649 closed

[2020-06-06 03:40] mannatsingh commented on #534
For users still wanting to use `find_packages` for their regular packages, the change would involve concatenating the results from both `find_packages` and `find_namespace_packages`.

[code]
becomes
[code]

[2020-06-07 01:12] omry opened #653 "Upgrade Ax dependency in the Ax sweeper plugin"

[2020-06-07 05:25] omry commented on #534
Thanks @mannatsingh, I updated the issue description to cover this.

[2020-06-07 22:01] omry opened #654 "Review command line overrides doc page"
and where it actually belongs (probably advanced)

[2020-06-08 18:19] shagunsodhani opened #657 "[Bug] Can not find type hints for Hydra"
# 🐛 Bug

Running `mypy` on a hydra app throws type errors.`Skipping analyzing 'hydra': found module but no type hints or library stubs`

## To reproduce

** Minimal Code/Config snippet to reproduce **

* Create a file, say `test.py`
* Add a single line `import hydra`
* Run `mypy test.py`

** Stack trace/error message **
[code]

## Expected Behavior
Type tests should pass

## System information
- *

[2020-06-08 19:55] #657 closed

[2020-06-09 02:01] #653 closed

[2020-06-09 02:05] omry opened #660 "Upgrade ax-platform used by Ax sweeper plugin"

[2020-06-09 02:05] #660 closed

[2020-06-09 03:45] Stonesjtu commented on #654
@omry thanks for open-sourcing such a great tool, it's been really helpful.

Is there a documentation page for CLI interface?  I was planning to implement my own CLI parser before I found it in the `_interal` codebase.

As a new user, I would prefer to see it in `tutorials/basic/your_first_app/config_file`. A note or link would suffice.

[2020-06-09 04:13] omry commented on #654
Hi @Stonesjtu!
If you are just getting started, I recommend Hydra 1.0 release candidate.

The docs are [here](https://hydra.cc/docs/next/intro).

Generally, you should get what you need to know by going through the basic tutorial.
The command line interface in 1.0 is richer which it why there is a dedicated page for it:

https://hydra.cc/docs/next/advanced/command_line_overrides

This issues is ab

[2020-06-09 04:20] omry commented on #654
Judging by the pull request, I think what you actually want is the command line flags for Hydra itself.

try:
[code]

[2020-06-09 04:23] omry commented on #654
You should not rely on anything internal.
Hydra is also not designed to allow users to extend the argparse command line interface. You should have plenty of flexibility from the general command line support in Hydra.

[2020-06-09 04:38] Stonesjtu commented on #654
Exactly!

Can we add a simple directive such as * You can override the config_name and config_path arguments by passing --config_name xxx to the hydra main file *.

It's better to demonstrate the `hydra-help` interface in the documentation as early as possible.

[2020-06-09 04:42] omry commented on #654
--config_path and --config_name are actually FAR less important than you think.
In most cases you shouldn't need them and you should be using composition instead.

I initially considered adding something like this but it did not seem to be worth interrupting the flow of the document for it.

[2020-06-09 04:43] omry commented on #654
And by the way:
When you do --help, it tells you about --hydra-help :)

[2020-06-09 04:55] Stonesjtu commented on #654
Can you please share a link for *composition* approach

[2020-06-09 05:10] omry commented on #654
https://hydra.cc/docs/next/tutorials/basic/your_first_app/config_groups

You can create a group called experiment:
[code]
And add it to your defaults list with:
[code]

[2020-06-09 06:09] Stonesjtu commented on #274
I have the similar use cases as @asherp .

- The major interface of my program is in binary form, most users don't write any python codes.
- The default value is defined in `structured config` rather than a default config file
- Users write their  own config file in their work dir, and runs through `python -m xxx.main`

@omry
I think the current version *1.0rc* supports specify `config_path`, but

[2020-06-09 06:35] omry commented on #274
You can probably achieve that now via a config searchpath plugin.
[example](https://github.com/facebookresearch/hydra/tree/master/plugins/examples/example_searchpath_plugin)

[2020-06-09 06:37] omry commented on #274
by the way, take a look at the [Application Packaging](https://hydra.cc/docs/next/advanced/app_packaging) page.
1. You CAN use config files with your application even if it's installed.
2. You can get a native command to execute it instead of the clunky python -m module.

[2020-06-09 10:04] BartekRoszak commented on #650
A similar issue appears when instantiating with additional params:

                                     hparams=cfg,
                                     logger=wandb_logger,
                                     n_gpus=n_gpus)

        full_key: system.params.n_gpus
        reference_type=Optional[Dict[Any, Any]]
        object_type=dict

[2020-06-09 16:02] omry commented on #650
BartekRoszak,
Why is n_gpus not in the `cfg.system`?
This can be fixed in Hydra, but honestly I think it tells you that your config is wrong.

[2020-06-09 16:15] BartekRoszak commented on #650
n_gpus value is computed at the beginning of the script and I am using it in few places so it is comfortable for me to set it in such a way and it worked well in the previous version.

[2020-06-09 17:14] omry commented on #650
1. If it appears in multiple places in your config you should use interpolation to define it once and use it in multiple places:

[code]

2. Alternatively you can define it in your config as missing:
[code]

3. Regardless, I am going to allow passing things that are not in the config in call. but for your case you should probably follow the advice in 1.

[2020-06-09 22:41] omry opened #662 "provide a --info flag to get Hydra debug information"

[2020-06-10 07:00] #662 closed

[2020-06-10 09:37] omry opened #664 "Lifecycle plugin for MLFlow"
Once a lifecycle plugin is introduced, an implementation for mlflow can set the tracking_url based on the url config before the function starts.

See [SO question](https://stackoverflow.com/questions/62296590/mlflow-and-hydra-causing-crash-when-used-together)

[2020-06-11 16:46] jieru-hu opened #665 "Document all hydra supported omega resolver"
https://github.com/facebookresearch/hydra/blob/953d15590a495d19912b3fa076f6cfc593e7ce82/hydra/core/utils.py#L139-L151

[2020-06-11 17:02] jieru-hu opened #666 "Better RayAWSLauncher examples"
Omry's comments:

This is a lot of configuration.
1. It should be optional and have reasonable defaults.
2. I don't want people copying a bunch of boilerplate by default if they don't need it. This could be in a second example demonstrating the sync features.
- [ ] Be sure to run your examples as a part of your unit tests.

_Originally posted by @omry in https://github.com/facebookresearch/hydra/d

[2020-06-11 18:39] ToucheSir opened #667 "RC releases on conda-forge?"
# 🚀 Feature Request

Really appreciate the publishing of stable releases on conda-forge! I was wondering if it would be possible to add an RC branch for the upcoming 1.0 release on the relevant feedstocks?

## Motivation

**Is your feature request related to a problem? Please describe.**
Installing the current RC versions of Hydra and OmegaConf break conda's dependency resolution algorithm. This n

[2020-06-11 19:17] omry commented on #667
I am not maintaining the conda release.

can you submit an issue [here](https://github.com/conda-forge/hydra-feedstock)?

[2020-06-11 19:17] #667 closed

[2020-06-11 19:38] shagunsodhani opened #668 "[Ax Plugin] Update the example app to highlight num_trials param"

[2020-06-11 20:43] ToucheSir commented on #667
Ah, I saw your comments on https://github.com/conda-forge/staged-recipes/pull/10545 and assumed you had a hand in the Conda releases as well? Is @mdraw solely responsible for the feedstock then? I'll open an issue on https://github.com/conda-forge/hydra-core-feedstock assuming that's the correct place.

[2020-06-11 20:51] omry commented on #667
I can help answer questions or review the code there but I am not the one maintaining the conda packages.

[2020-06-11 21:53] #668 closed

[2020-06-11 22:57] shagunsodhani commented on #469
One of the parameters have the type as `Optional[Dict[str, Union[str, bool, float, int, None]]]` Specifying this type throws the following error:

[code]

So I used the type as `Optional[Dict[str, Any]]`

[2020-06-11 23:03] omry commented on #469
Unions are not currently supported. This solution is reasonable.

[2020-06-11 23:10] shagunsodhani commented on #469
Thanks - I had another question.

Earlier I could unpack a dictconfig just like a dictionary (**config). After adding structured configs, I can not longer do that (which makes sense). Is there a workaround for this limited behavior?

[2020-06-11 23:12] omry commented on #469
why not?

[2020-06-11 23:17] shagunsodhani commented on #469
It fails mypy check: `hydra_plugins/hydra_ax_sweeper/_core.py:138: error: Argument after ** must be a mapping, not "EarlyStopConfig"`

[2020-06-12 02:15] omry commented on #469
You can convert to primitive container or just to tell mypy to shut up with `# type: ignore`

[2020-06-12 10:47] shagunsodhani commented on #469
Thats a good point. I wonder if I will lose the type-hint though ie would the attributes (of `EarlyStopConfig`) be marked of type `Any`?

[2020-06-12 15:41] omry commented on #469
If you wonder test it. I am not sure which case you are referring to.
you can use reveal_type() to see what type mypy thinks a variable is.

[2020-06-12 15:56] #469 closed

[2020-06-12 22:01] jieru-hu opened #672 "mark plugins as warnings expected so nox will not check for warnings"
CI shouldnt fail if tests on plugins ares expected to yield warnings

[2020-06-12 22:09] jieru-hu opened #673 "Clean up hydra AWS CI account in case integration tests leaves instances running behind."
Potentially can use circleCI to run nightly cron job.

[2020-06-12 23:49] omry opened #674 "Enable printing a specific package with --cfg"

[2020-06-13 22:30] packerliu commented on #591
Do yo mind share how you fixed your unittest? Trying to learn how to add test with Hydra.cc in it.  Thanks

[2020-06-13 22:35] omry opened #676 "Create unit tests examples with compose"
For:
- pytest
- unittest

[2020-06-14 04:21] omry commented on #591
Use the compose API (see my above comment).
I added #676 to create an example for testing with pytest and unittest.

[2020-06-14 17:45] omry commented on #664
Duplicate of #385

[2020-06-14 17:45] #664 closed

[2020-06-14 20:06] packerliu commented on #591
Thanks!  Will take better look into previous comments.
With better test cases for code using hydra, it would be much easier to upgrade between releases.

[2020-06-14 20:16] omry commented on #591
I think the primary benefit is being able to test your own code move easily.
Hydra changes are are almost always backward compatible  and in the case I am breaking compatibility I try hard to have one major version that is just deprecating the old API or behavior to allow people to adapt to the breaking change.

[2020-06-14 20:20] #674 closed

[2020-06-14 23:40] packerliu commented on #591
Here is what I got it working using command below:
[code]
Here are files:
[code]
[code]

[2020-06-15 00:06] packerliu commented on #591
When I run `pytest test_unittest.py` instead, it will fail with the same error on the top of this thread.
[code]
After I digged into this [StackOverflow post](https://stackoverflow.com/questions/37069303/notimplementederror-cant-perform-this-operation-for-unregistered-loader-type), I did following to fix the problem:
[code]

[2020-06-15 01:27] omry commented on #591
I am looking at it now and it seems that pytest broke compatibility with pkg_resource [here](https://github.com/pytest-dev/pytest/issues/5392).

It should still work with pytest 4.5.0, but not with newer versions.
I am looking for a solution, but this involves low level changes to Hydra and may take some time.

[2020-06-15 01:55] binshengliu opened #678 "Save .hydra/*.yaml before task execution"
# 🐛 Bug

Saving the configurations is a really cool idea that helps me check what I actually did. I noticed the save timing is delayed after task execution in the `1.0.0rc1`. I have encountered some scenarios that I think it would be better if the configs are saved earlier.

For example,

1. Tasks may exit accidentally due to bugs. Knowing detailed configurations would be helpful.
2. For time-cons

[2020-06-15 01:56] omry commented on #678
Is this a change in 1.0?

[2020-06-15 03:13] binshengliu commented on #678
It seems this change was introduced in 98128a4d

[2020-06-15 06:18] packerliu commented on #591
I got pytest working again after reading [this article ](https://docs.pytest.org/en/latest/goodpractices.html)explaining __init__.py in pytest. My pytest version is 5.2.1:
[code]

[2020-06-15 06:46] omry commented on #591
This is unittest style testing, I am not sure if it makes a difference.
also, try this on Hydra 1.0.0rc1, some things changed and this may no longer work.

[2020-06-15 19:19] omry commented on #678
Interesting, not sure why I moved it down.
can you send a PR fixing it?

[2020-06-15 21:15] jieru-hu commented on #673
List of resources to clean up:
1. ec2 instances
2. keypairs

[2020-06-16 04:52] #676 closed

[2020-06-16 05:37] binshengliu commented on #678
Yeah sure.

[2020-06-16 08:55] #678 closed

[2020-06-17 11:36] txntxn opened #688 "[Feature Request] Document usage without functions (top-level)"
# 🚀 Feature Request

Document how to use Hydra without functions

## Motivation

In Jupyter notebooks, you may want access to Hydra configs when you are not within a function. This is because it's easier to test Jupyter scripts where the code is top-level. However, you still want access to Hydra configs.

Please document how to use Hydra when you are not within a function, for example in a Jupyter

[2020-06-17 12:31] ravindranrahul commented on #347
Hi @omry, Is this still relevant?

Im willing to give this a shot.

[2020-06-17 15:24] omry commented on #347
Yup, still relevant.

[2020-06-17 15:43] tasercake commented on #409
Does Hydra offer anything analogous to Click's [`group`](https://click.palletsprojects.com/en/7.x/commands/)?

I'm used to doing:

[code]

in Click and was hoping to do something similar with Hydra.

The workaround I'm using for now involves setting a `task` key in my config and calling various functions according to its value, but that seems brittle compared to what Click offers.

[2020-06-17 15:59] omry commented on #688
Hydra 0.11: https://hydra.cc/docs/advanced/compose_api
Hydra 1.0: https://hydra.cc/docs/next/experimental/compose_api

There is an actually Jupyter notebook in the example linked there.

[2020-06-17 15:59] #688 closed

[2020-06-17 16:40] omry commented on #409
Generally speaking, Hydra not calling code for you.

See this for example of driving runtime behavior from config:
https://hydra.cc/docs/patterns/objects

Hydra 1.0 will also cleanly support regular methods:
https://hydra.cc/docs/next/patterns/objects

[2020-06-17 19:54] omry opened #689 "Create a hydra pytest plugin to enable user code to test more easily"
1. Separate pip package: hydra-pytest-plugin
2. existing fixtures will be moved there and renamed to make their names more unique:

#### hydra_restore_singletons
Restore all Hydra singletons to their original state on scope exit

#### hydra_global_context
initializes Hydra and undo on scope exit

#### hydra_task_runner
Used to run a single task with Hydra, used internally

#### hydra_sweep_runner

[2020-06-18 04:02] #689 closed

[2020-06-18 04:39] omry commented on #672
For most plugins it should. I added this for a reason.

[2020-06-18 09:30] saulzar commented on #650
What's the point in allowing extra parameters this way if you're not allowed to use it this way?

I have some shared computation which triggers this exact same problem (and it's not something which can be known before hand to put in the config file...).

[2020-06-18 09:50] omry commented on #650
The point is that there is a bug.
I did not look dug in yet, but the plan is to fix it.
if you don't like it you have two options:
1. fix it and send a PR.
2. wait for me to fix it when I get to it.
3. Come up with your own alternatives to instantiate.

These are the options.
good luck.

[2020-06-18 21:55] saulzar commented on #650
I am sorry my comment appeared more confrontational than it should have - thanks for your clarification (and your great configuration libraries, the concept is very simple yet it is a great improvement in practice).

[2020-06-18 22:12] omry commented on #650
Apology accepted.
Thanks for clearing the air.

The value this is already providing is it allow you to pass-through objects of types not supported in the config.
You can see the existing unit tests [here](https://github.com/facebookresearch/hydra/blob/master/tests/test_utils.py).

Looks like something fell through the cracks (and is potentially a regression in 1.0).

[2020-06-18 23:53] #606 closed

[2020-06-18 23:55] omry commented on #643
https://hydra.cc/docs/next/advanced/overriding_packages

[2020-06-18 23:55] #643 closed

[2020-06-19 18:43] jan-matthis opened #692 "[Feature Request] Support asynchronous launching"
# 🚀 Feature Request

Some launchers enqueue jobs rather than executing them directly. It'd be great if Hydra supported that.

The interim solution in the RQ launcher (#683) is to throw an exception after enqueuing, which doesn't make for a great user experience.

See also: https://github.com/facebookresearch/hydra/pull/683#discussion_r442920298

[2020-06-19 19:01] omry commented on #692
Tentative for 1.0.

[2020-06-19 20:58] shagunsodhani opened #693 "[Feature Request] Add yamllint to lint the config files"
# 🚀 Feature Request

Add [yamllint](https://yamllint.readthedocs.io/en/stable/index.html) to test suite to ensure config files are linted.

## Motivation

NA

## Pitch

NA

**Are you willing to open a pull request?** (See [CONTRIBUTING](../CONTRIBUTING.md))

yes

## Additional context

NA

[2020-06-19 21:31] omry commented on #646
Moved to OmegaConf https://github.com/omry/omegaconf/issues/271

[2020-06-19 21:31] #646 closed

[2020-06-20 16:44] turian opened #695 "[Bug] KeyError: '_dh'"
# 🐛 Bug

`KeyError: '_dh'` when importing a module that uses `hydra.experimental.initialize`

## To reproduce

** Minimal Code/Config snippet to reproduce **

main.ipynb Jupyter notebook:

[code]

module.py:
[code]

** Stack trace/error message **

[code]

## Expected Behavior

Using `hydra.experimental`, you should be able to import another module that also uses `hydra.experimental` instead of us

[2020-06-20 16:48] omry commented on #695
Hi @turian.
Thanks for reporting, you provide complete instructions for reproducing?
Hydra does support notebooks and they are actually a part of the test suite.

You can see an example notebook using compose and initialize here:
https://github.com/facebookresearch/hydra/tree/master/examples/notebook

[2020-06-20 16:56] omry commented on #695
I think I understand what is happening.

initialize is attempting to discover the notebook path because you are running in a notebook but in fact it's a regular module.
You are expecting the config path to be relative to the module in this case, not to the notebook , right?

there are new functions that can help you. initialize_with_module and initialize_with_file.

try to use initialize_with_modu

[2020-06-20 17:22] turian commented on #695
@omry both of these files are in the same directory. Here is a full minimal way to reproduce, having followed along with the instructions [here](https://github.com/facebookresearch/hydra/tree/master/examples/notebook)

main.ipynb Jupyter notebook, I am running from here and get the error from here:

[code]

module.py (same directory as the notebook):
[code]

conf/config.yaml
[code]

[2020-06-20 17:29] turian commented on #695
If you could explain the fix, I could try it with rc and master if you like

[2020-06-20 17:49] omry commented on #695
Quoting from the link:

[code]

If your module is foo.bar.module, use:
[code]

[2020-06-20 18:03] omry opened #696 "Interactive Hydra tutorial with Katacoda"
An interactive tutorial with [Katakoda](https://www.katacoda.com/) would be awesome.

As an example, see the [Kubernetes tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/)

[2020-06-20 18:18] turian commented on #695
I don't really understand, I apologize. I didn't really see an example in the doc either.

In rc, the parameter is called 'calling_module' not 'module', so I use that. I can run master if you like.

I updated my `main.ipynb` to be:

[code]

Is this the correct order? Does `initialize_with_module` belong in the code that imports the module, or in the module itself?

I get this error:

[code]

[2020-06-20 18:23] omry commented on #695
initialize_with_module can be anywhere (unlike initialize, which is detecting where it's being called from).

Please show the output of tree on your source tree.
do you have an `__init__.py` inside your conf directory?

[2020-06-20 18:24] omry commented on #695
it might be easier in the chat. (link in the main readme).

[2020-06-20 18:27] omry commented on #695
Unfortunately this code path is detecting the job name automatically as well and it fails too in this condition.

For now, you can use either initialize or initialize_with_module from your actual notebook instead of the module. I believe this should work.

[2020-06-20 22:40] turian commented on #695
[code]

This is the minimal example tree, that has this error.

I don't mind organizing the files a little more if there is a best practice you recommend, but right now for the main project I have a directory full of Jupyter notebooks and Python modules that I am trying to convert to Hydra right now.

I don't have __init__.py in conf/, I didn't see that in any of your github examples that I peeked

[2020-06-21 08:10] umvarma opened #699 "[Feature Request]"
# 🚀 Feature Request

Accessing the application help and making use of it from the application code

## Motivation

**Allow the application to access the application help and make use of (ex: print/show it to the user) when incorrect usage is identified.**

## Pitch

Identify wrong usage patterns and showing the correct usage to the user is a critical aspect in any application. Hydra may be enhance

[2020-06-21 08:30] omry commented on #699
Hi @umvarma!
Hydra 1.0 has improved error messages that are already pretty helpful. I have some additional ideas about improving the error messages like [this](https://github.com/omry/omegaconf/issues/265) one.

My concern is that the application help can be very large for complex applications and it will overwhelming for the user to get so much information instead of a targeted message relevant t

[2020-06-21 08:48] umvarma opened #700 "[Feature Request] Purging older output/working directories"
# 🚀 Feature Request
Purging older Hydra output/working directories based on the specified purging criteria

## Motivation

**Each Hydra application run creates a output/working directory to store application and hydra outputs for the run. Depending upon the execution frequency, the number of folders created in this fashion may become too many. It would be a great help if Hydra can provide a way to

[2020-06-21 08:52] umvarma commented on #699
Thank you. The version I am using 0.11. I will check the 1.0 and update on this.

[2020-06-21 09:05] omry commented on #700
Since you are able to fully customize the working directory pattern it's pretty difficult to do.
Putting it down as a wishlist.

[2020-06-21 14:38] omry opened #701 "Document instantiate with Structured Configs"

[2020-06-21 18:50] omry opened #702 "Improve compose API initialization methods"
Experimental API should better support different initialization scenarios

[2020-06-22 06:43] #693 closed

[2020-06-22 12:26] anthonytec2 opened #703 "[Bug] Docs Update"
# 🐛 Bug

hydra/website/docs/tutorials/structured_config/4_defaults.md

I think in the defaults list that database here should be db

[2020-06-22 17:52] omry commented on #703
Thanks @anthonytec2, you are right.

I have an significant update coming to that tutorial. will address that too, but feel free to send a PR fixing that.

[2020-06-22 18:34] omry opened #706 "Evaluate flit for packaging"
bases content of package on the repo.

https://pypi.org/project/flit/

[2020-06-23 13:25] jieru-hu opened #709 "Review Ray launcher logging."
make sure hydra configures the logging as expected.

[2020-06-23 15:27] omry commented on #709
If you find a problem take a look at the example launcher and ensure it's a good example.

[2020-06-23 20:22] omry commented on #703
Duplicate (#607)

[2020-06-23 20:22] #703 closed

[2020-06-24 00:13] omry opened #712 "[Bug] Bad config group choice with a comma in normal run does not result in an error"
[code]

[2020-06-24 00:39] omry opened #713 "Consider module instead of metaclass for singletons."

[2020-06-24 22:50] #695 closed

[2020-06-24 22:51] omry commented on #695
@turian , please test on master.
The fix included a major API update to the initialization APIs.

[2020-06-25 00:04] jieru-hu opened #714 "Make sure Hydra logging config override all loggers from 3rd party libs"
This happens while I was walking on a fair internal plugin, Hydra's logging configs doesn't override the ones created by 3rd party library, logging looks like this (notice the logging from ```distributed``` have different format):

[code]
We set the format at root logger level, but since the loggers from ```distributed``` have other ```FormatHandler``` defined and have ```propagate==False```, the

[2020-06-25 03:57] pseeth opened #715 "[Feature Request] TaskSpooler launcher"
# 🚀 Feature Request

Task Spooler is a really simple Unix tool that I have used to keep track of jobs, parallelize batch scripts, launch machine learning jobs, and launch long-running jobs (e.g. jupyter lab, tensorboard). I think it's really a clean way to do jobs in succession. Here's the manpage: http://manpages.ubuntu.com/manpages/xenial/man1/tsp.1.html

It'd be nice if hydra could submit jobs

[2020-06-25 04:47] omry commented on #715
Hi @pseeth!
TaskSpooler sounds really nice, I never heard of it.
I'd be happy to help getting you on the right track.

Take a look at the [example launcher](https://github.com/facebookresearch/hydra/tree/master/plugins/examples/example_launcher_plugin), copy it and start hacking.

Feel free to join the chat if you have questions.

[2020-06-25 10:05] egonuel opened #716 "interpolation using a hydra parameter not possible in jupyter notebook"
# 🐛 Bug

I'm testing some stuff in jupyter and trying to load configurations I'm using with normal python scripts.
Now I have some parameters with interpolations to hydra parameters like `${hydra:job.name}`, however, accessing those with the compose API does not work. The error points to a not set HydraConfig as shown below.

## To reproduce

config.yaml:
```test: ${hydra:job.name}```

Jupyter not

[2020-06-25 15:00] omry commented on #716
Thanks, I will take a look. this is not obviously fixable because interpolation is lazy and if you call compose multiple times the Hydra config may change between calls.

[2020-06-25 20:39] omry opened #717 "Add testing for running as module with HYDRA_MAIN_MODULE"
different cases:

1:
[code]
2:
[code]
3:
[code]
4:
[code]

Also, probably need to add __init__.py in all conf modules.
update docs and examples with it.

[2020-06-26 02:51] omry opened #719 "Switch internal resource loading to importlib-resources"
importlb-resources is the next gen Python resource loader and will become the standard one in Python 3.9 (importlib.resources).
It has several advantages over pkg_resources, such as better performance and more consistent and well designed API.

pkg_resources has some side effects related to pytest plugins that are also a reason to avoid it.

Hydra 1.0 is switching to importlib-resources based Conf

[2020-06-26 04:01] #717 closed

[2020-06-26 04:01] #719 closed

[2020-06-26 05:48] omry opened #720 "Clean up example plugins"
- [ ] There are some old patterns that should be cleaned up
- [x] Move to examples/plugins (#927)

[2020-06-26 09:03] omry commented on #699
I am closing this, please reopen if you still want to make the case for it after you try Structured Configs.

[2020-06-26 16:17] cgerum opened #721 "[Bug] ObjectConf with cls Keyword Argument is not Supported on Python 3.6.9"
# 🐛 Bug

If one tries to instantiate ObjectConf with cls as a keyword argument python crashes.

This might be related to #634 and is probably ultimately caused by https://github.com/ericvsmith/dataclasses/issues/155 .

## To reproduce

** Minimal Code/Config snippet to reproduce **

[code]

** Stack trace/error message **
[code]

## Expected Behavior

[code]

## System information
- **Hydra Versio

[2020-06-26 16:41] omry commented on #721
Yeah, as you found I have already submitted a bug about it (I actually totally forgot that I reported it already, good find :) ).
Python 3.6 does not really support dataclasses and OmegaConf is relying on that dataclasses backport package you pointed for that support.

Can you give more context about where you are hitting that problem? is this from the submitit plugin?

[2020-06-26 17:07] cgerum commented on #721
Sorry, did not notice that it was you.

I originally hit it when trying to use the pytorch-lightning example: https://github.com/anthonytec2/pytorch-lightning/pull/2 .
But now also in the submitit plugin.

    hydra_submitit_launcher/config.py", line 72, in <module>

    params=LocalParams(),
    TypeError: __new__() got multiple values for argument 'cls'

I will have a look at dataclasses over th

[2020-06-26 17:37] omry commented on #721
The submitit plugin is officially only supporting 3.7+ for another reason as well.

The example from Anthony can be modified to not instantiate the object like this, but it would be a bit messier.
Doing it like this is very clean and the point of that example is to be a clean solid example.

Awesome that you will try to the dataclasses backport.
I am disappointed that so many months after reportin

[2020-06-26 17:48] omry opened #723 "Update the examples in examples/configure_hydra"
1. Update them
2. Cover them with tests
3. Mention them in the relevant doc pages.

[2020-06-26 19:15] omry opened #724 "Handle Frozen dataclasses during config composition"
marking a dataclass as frozen should prevent all manipulation, including composing and overriding from the command line.

[2020-06-26 21:54] cgerum commented on #721
For me this is probably another reason to upgrade my python interpreters.

For the  time being I will use the `sitecustomize.py` workaround in https://gist.github.com/cgerum/20cca9ffa33f3a3ff75cea14b8e9fc9b .

But the only true solutions would probably be renaming the cls parameter. Maybe there is a possibility to keep backwards compatibility on python 3.7+ or dropping support for python 3.6.

[2020-06-26 22:25] omry commented on #721
Yeah.
In Hydra 0.11 (stable), the name of this parameter is `class` and I renamed it to `cls` as class is a reserved keyword in Python can you can't have:
[code]

It's a bit unfortunate this this conflict is only showing up now so close to Hydra 1.0 release.
I think I can rename it and deprecate `cls` in the same manner.

There is an outstanding open issue about improvements to the instantiate API

[2020-06-26 23:45] rohitgirdhar opened #725 "Command line interpolations are not being evaluated lazily, leading to changed multirun behaviour"
In v0.11, when I wanted to do multirun with certain parameters dependent on each other, I would do something like
[code]
and this would launch 3 jobs, with same values for param1 and param2.

With v1.0, this seems to be launching 3*3 = 9 jobs, with all possible combinations of param1 and param2. Wondering if that's expected behavior? My understanding was that the interpolations are evaluated lazil

[2020-06-27 00:01] rohitgirdhar commented on #725
Here is my actual usecase: basically I have been using this functionality to couple variables, for eg, if I am running a model on 4 folds, and I want to load a pre-trained model corresponding to the specific fold, I would do something like this:
fold_id=0,1,2,3,4 pretrained=/checkpoint/\${fold_id}

[2020-06-27 00:03] omry commented on #725
will take a look, for now you can use this as a possible workaround:

Use a config group with this:

**things/model_per_fold.yaml**
[code]
and then from the command line do:
[code]

[2020-06-27 00:49] cgerum commented on #721
Well as the API from 0.11 changes anyway, adopting #566   before 1.0 would probably be quite convenient.

I like the proposed API. Let me know if I can be of further assistance.

[2020-06-27 01:06] omry commented on #721
#566 is not making it to 1.0. got to draw the line somewhere. 1.0 has been cooking for more than 6 months.

I am probably going to go with the neutral `_target_` for the field name, which works both for classes and function names.

[2020-06-27 11:55] egonuel opened #726 "multirun override for structured config parameter whose group is set by defaults does not work"
# 🐛 Bug

I have a few structured config classes, which I use mainly as verification schemes.
I define defaults for the corresponding groups in the main config.yaml
Now if I want to do a multi-run over a parameter from these groups, it crashes and it appears that hydra is unable to split the multiple values for that parameter.
The following small example shows that behavior. However, I found out th

[2020-06-27 15:34] omry commented on #726
Thanks for reporting, I will take a look.
in the mean time, can you:

1. try to repro without structured configs.
2. Test your minimal example from 1 on both 0.11 and 1.0?

[2020-06-27 17:28] egonuel commented on #726
the answer for 1. I could have given in the first post, sorry: it does work when I do not store the corresponding structured config class.
I Will answer 2. later.

[2020-06-27 17:37] egonuel commented on #726
ok, and the answer for 2. is obvious: it works as well.
So without structured configs the example both works on 0.11 and 1.0rc.

[2020-06-27 22:29] omry commented on #650
@shagunsodhani :
in your collab, this works:
[code]

Did you try this? this seems like an obvious way to do it.

[2020-06-27 23:30] omry commented on #650
#727 is fixing the issues reported here, once it's landed you can test on master.
If there are additional problems open separate issues with a minimal repro for each.

[2020-06-28 03:00] #650 closed

[2020-06-28 03:00] #721 closed

[2020-06-28 03:49] rohitgirdhar opened #728 "[Bug] Unable to instantiate classes with non primitive data types"
# 🐛 Bug

Continuing from issue https://github.com/facebookresearch/hydra/issues/650
I think the fix still doesn't seem to work for me. Here's a MWE that crashes for me, with the current master (0ccc2aad)

## To reproduce

[code]

** Stack trace/error message **

[code]

## Expected Behavior

It should be able to instantiate the object. While this example is simple (and I could perhaps cast the ten

[2020-06-28 17:51] omry commented on #728
Thanks for reporting.
I did a cleanup pass in that area and handled this case in #729. let me know if you see anything else.

[2020-06-29 01:47] #728 closed

[2020-06-29 12:26] shagunsodhani commented on #650
Yes, this is what I end up using :)

[2020-06-29 16:08] omry commented on #650
This is the correct form to pass-through arguments by name.

Your example on 1.0rc1, with my comments:
https://colab.research.google.com/drive/1AG7PL5hmzW70gWmgZZAbqHdP4oLGDcA6

Your example on 1.0.rc2 (master) , with my comments:
https://colab.research.google.com/drive/1L1lNte8Gk5qeqvqw7J22UckJWQjmzgER

[2020-06-29 18:34] omry commented on #408
@faroit, This is a very weak justification in the context of Hydra.
If you want to use Hydra, you you can use it with YAML.
Hydra is a MUCH bigger dependency to add than pyyaml. by using Hydra you buy into accepting it's dependencies.

[2020-06-29 18:35] omry commented on #549
This is done. Thanks for your work on this @binshengliu!

[2020-06-29 18:35] #549 closed

[2020-06-29 18:37] omry commented on #96
#573 will offer a solution here, feel free to send a PR for it.

[2020-06-29 18:37] #96 closed

[2020-06-29 18:43] omry commented on #672
This could be the answer:
https://docs.pytest.org/en/stable/warnings.html#pytest-mark-filterwarnings

[2020-06-29 18:44] #699 closed

[2020-06-29 18:45] #702 closed

[2020-06-29 18:51] omry commented on #578
Closing for now. we can revisit what improving testing for optimizing sweepers once they have a common library.

[2020-06-29 18:51] #578 closed

[2020-06-29 18:51] omry commented on #577
Closing for now. we can revisit what improving testing for optimizing sweepers once they have a common library.

[2020-06-29 18:51] #577 closed

[2020-06-29 19:01] omry commented on #716
[This](https://github.com/omry/omegaconf/issues/280) will help.

[2020-06-29 20:44] shagunsodhani commented on #650
@omry I do not have access to the colab notebooks. I have sent the request for access :)

[2020-06-29 21:42] faroit commented on #408
I don't understand why Hydra would be heavy on dependencies. I only see OmegaConf which in itself only depends on PyYAML - hence with json, Hydra could be almost pure python.

It seems that json support is not seen as a viable option for this project so I'm closing this.

[2020-06-29 21:58] omry commented on #408
@faroit I am not referring to the request but to the argument that yaml as a dependency is a problem for Hydra:
pyyaml is a hard dependency for OmegaConf, OmegaConf is a hard dependency for Hydra.

if you want to use Hydra, you will have a pyyaml dependency even this is implemented and there is native support for json files.
I see no reason to work toward eliminating this dependency.

The reason I

[2020-06-29 23:06] omry opened #731 "Clean up instantiate"
instantiate for classes only
call for callables.
### instantiate
[code]
[code]

### call
[code]
[code]

for backward compatibility, instantiate and call should still support both inputs but issue deprecation warning if the wrong input is specified.

[2020-06-30 05:03] #712 closed

[2020-06-30 05:03] #726 closed

[2020-06-30 06:34] egonuel commented on #726
it works, thanks a lot!

[2020-06-30 07:42] omry commented on #726
awesome, thanks for for testing!

[2020-06-30 17:38] samuelstanton opened #733 "[Feature Request] Support for s3fs"
# 🚀 Feature Request

Hi, I've been using Hydra for 6 mos or so, so this is more of a question than a feature request, since I don't know for sure that this isn't already supported.
I'd like to modify `hydra.run.dir` to an s3 path (e.g. `s3://<bucket_name>/<output_dir>`) and then have Hydra write all outputs to that s3 bucket. It seems like if a user already has AWS CLI configured, then (maybe?) th

[2020-06-30 18:46] pvnieo opened #735 "Conditional config"
Hi!

I'm using Hydra 1.0.0rc1.
You can find attached my config layout.

Basically, I'm working on a DL project. I have many models, datasets and data transforms. Each model support only one data transform, which is indicated in it's config file.

Each data transform has parameters that depends on the chosen dataset, and that get interpolated later.

What I want to do, is when I ran my program, I o

[2020-06-30 18:46] omry commented on #733
Hi @samuelstanton!
I have plans to abstract the working directory in Hydra, probably in 1.1.
This will open up the path for a plugin that will support s3 as the working directory backend.

I am keeping it open as a reminder for the desire for s3 support for it.
In the short term you are on your own.
one thing you can consider is mounting your s3 bucket locally using something like [s3fs-fuse](http

[2020-06-30 21:07] jgbos opened #736 "Creating list of configs?"
I was wondering if it's possible to do something like this:
[code]

That is, making `option` a list of configurations.

I'd like to also support the basic approach of
[code]

[2020-06-30 23:01] omry commented on #736
please describe what you mean by "list of configurations".
it looks like a list of strings to me.

[2020-06-30 23:36] pvnieo commented on #735
The error is coming from:
[code]

but when I do:
[code]
it returns a string!

[2020-07-01 01:00] jgbos commented on #736
I'm questioning my own intent now.  I'm not sure the right terminology, but essentially `foo` and `bar` have their own YAML files under the `option` package.  I might want to provide a list of methods to the application.  Not my use case, but maybe this could be providing a list of torchvision transforms.  I think it would be equivalent to this:

[code]

On another note, if I had defined `option`

[2020-07-01 01:15] omry commented on #736
I see.
This is essentially #499 that I am hoping to tackle with 1.1.

closing as dup.

[2020-07-01 01:15] #736 closed

[2020-07-01 08:28] omry commented on #735
Looks like a bug in OmegaConf.
You are doing something I never tested for here.
I narrowed it down to this minimal example:
[code]

[2020-07-01 15:46] omry commented on #736
@jgbos , I missed your second question:
you can override list variables by using the index as the key:
[code]
would override <foo>

[2020-07-01 20:17] omry opened #738 "Strict definition for command line values and sweeping"
[Document](https://docs.google.com/document/d/1OELdhAe8jWfNLioqjfRaMcmh56vnzIwUNA0Id9aRIOQ/edit)

[2020-07-02 17:03] egonuel commented on #725
I'm experiencing an issue probably similar to this. Please let me know if it's better to open a separate issue for the following or if relates to the one above:
I'm playing around with overrides on the command line and a very simple example is this:
config file:
[code]
script:
[code]
if I call it like:
`python test.py a=42 b=${a}`

the output is:
[code]

if I call it with multirun:
`python test.py

[2020-07-02 17:27] egonuel commented on #725
I played around a bit more:
if "a" is not part of the config file and I do this:
`python test.py -m +a=42,23`

i get the following error:
[code]

[2020-07-03 06:55] egonuel commented on #725
ok, I just realized that you have a pull request out for this already. Sorry for the noise :)

[2020-07-03 08:32] omry commented on #725
I am working on it, the pull request is pending some deeper changes.
See the document in https://github.com/facebookresearch/hydra/issues/738 to context.

[2020-07-03 09:11] egonuel commented on #725
Small update:
I pip installed this pull request and the overrides are now lazy. This made some things so beautiful now :)
There pops up another issue: In my actual code I have an interpolation to `${hydra:job.override_dirname}`
Now, this can not be resolved in the sweep runs anymore:
my modified minimal example from above:
[code]

modified config.yaml:
[code]

results when called with `python test

[2020-07-03 15:37] omry commented on #725
@egonuel thanks.
the PR does not pass tests and is not ready. you are using it at your own risk :)

I am not ready to pop additional bugs onto this stack just yet.
Please wait until I land what I am working on now and if there are still issues you can file new bugs.

[2020-07-05 14:50] numpee opened #740 "[Bug] Setting hydra/output_subdir = None still logs .yaml files in a folder called "None""
# 🐛 Bug

Basically the title.
I've disabled hydra/job logging (set default to disabled) and set the output_subdir = None in the hydra.yaml file.
However, now I get a new folder called None/None where all the config yaml files are stored. I've tried setting it to empty string "", and also null, but none of these seem to work. :(

## Expected Behavior
No generation of new folders at all (to store ya

[2020-07-05 15:28] omry commented on #740
This is a feature of Hydra 1.0 which is a pre-release now, you will have to upgrade to it (1.0.0rc1 currently).

Note that it requires Python 3.6 and newer.

[2020-07-05 15:28] #740 closed

[2020-07-06 08:58] omry commented on #735
moved to OmegaConf (https://github.com/omry/omegaconf/issues/283).

[2020-07-06 08:58] #735 closed

[2020-07-07 13:39] jan-matthis opened #742 "[Bug] Config search path for hydra apps"
# 🐛 Bug

For packaged hydra apps, `pkg://` rather than `file://` should be used in the config search path.

## To reproduce

Install `hydra_app` and run `hydra_app --info`.

## Stack trace/error message

[code]

## Expected Behavior

[code]

## System information
- **Hydra Version** :  `master` at `dc8bed5a4d4a0324357f5baeae97962e759cdc6b`
- **Python version** :  `3.7.7`
- **Virtual environment ty

[2020-07-07 14:16] SirWyver opened #743 "how to pass a list as argument?"
Hi there,
what is the syntax to overwrite a config parameter by a primitive list like:
[code]
I keep getting an error that it is interpreted as a sweeper override.
[code]

[2020-07-07 14:43] omry commented on #743
What version are you on?

[2020-07-07 14:44] omry commented on #742
how did you install the app? `pip install` or `pip install -e` ?

[2020-07-07 15:05] SirWyver commented on #743
I am using Hydra 1.0

[2020-07-07 15:23] omry commented on #743
No, you are using master.

[2020-07-07 15:44] jan-matthis commented on #742
The output above was using `pip install .` from inside `examples/advanced/hydra_app_example/`.

With `pip install -e .` I'd get `file://path_to_git_repo/examples/...`.

[2020-07-07 15:49] omry commented on #742
let me ask it in another way:
if you package a wheel, and pip install it, does it depend on the directory where you packaged it?

try this:
1. package a wheel.
2. move it to /tmp
3. rename the directory
4. install and run the wheel. does it work or not?

[2020-07-07 16:51] SirWyver commented on #743
True, you are right. So is it possible?

[2020-07-07 17:58] omry commented on #743
It will be possible soon on master, and much more.
https://docs.google.com/document/d/1OELdhAe8jWfNLioqjfRaMcmh56vnzIwUNA0Id9aRIOQ/edit#

This is a regression in master, rc1 should allow that (although it's really partial support).

[2020-07-07 18:25] SirWyver commented on #743
great, looking forward to it!

[2020-07-07 18:25] #743 closed

[2020-07-07 19:27] omry commented on #743
working on it as we speed, it's a very big change.

[2020-07-08 00:50] andrewjong opened #747 "[Bug] Instantiating objects and calling methods and functions CRASHES"
# 🐛 Bug

https://hydra.cc/docs/next/patterns/objects#instantiating-objects-and-calling-methods-and-functions
Following the 1.0rc instructions for object instantiation results in "ValueError: Input config does not have a cls field", followed by "UnboundLocalError: local variable 'cls' referenced before assignment".

## To reproduce
** Minimal Code/Config snippet to reproduce **
`pip install hydra-c

[2020-07-08 01:07] omry commented on #747
The instructions on the rc are for master, unfortunately there is no official docs version for 1.0.0rc1 and there have been some changes.

try with cls.
This is going to change again soon (see #737).

[2020-07-08 01:55] andrewjong commented on #747
Okay.
Replacing "target" with "cls" does not work, same error.

[2020-07-08 02:06] omry commented on #747
Please provide minimal repro instructions, including how you are installing.

[2020-07-08 12:45] jan-matthis commented on #742
It will use `file://` to point to the `site-packages` folder (no reference to `/tmp`). However, I would have expected usage of `pkg://` (as done for `hydra` itself). How could that be achieved?

[2020-07-08 14:40] omry commented on #742
I would have expected it too, but for some reason the logic detects this as a file run.
feel free to dig into the detection logic to see why. this is low pri for now because it seems to be working fine regardless.

[2020-07-08 15:05] omry commented on #742
#750 fixes it but this is sensitive. I may have to revert if it end up causing issues.

[2020-07-08 16:51] omry commented on #747
@shagunsodhani, can you help with this one?

[2020-07-08 17:25] andrewjong commented on #747
@omry okay, I updated with the `pip install hydra-core --upgrade --pre` command I used.

[2020-07-08 22:20] #742 closed

[2020-07-08 23:14] omry opened #751 "Upgrade to isort 5.0"

[2020-07-08 23:40] shagunsodhani commented on #747
I could run the code by replacing `target` by `cls` in the config (as shown):

[code]

Could you please try with this?

#737 fixes this error (and introduces some changes)

[2020-07-09 02:40] andrewjong commented on #747
Huh, it works. My apologies, I must have tested incorrectly when I tried replacing `target` with `cls` the first time. Happy there's a solution now. Thanks guys!

[2020-07-09 02:40] #747 closed

[2020-07-09 02:41] omry commented on #747
thanks @andrewjong.

@shagunsodhani, can you try with a badly spelled cls to see that the error makes sense?

[2020-07-09 03:01] shagunsodhani commented on #747
Yup. As misspelled `cls` will cause the problem. The right thing is to catch the `ValueError: Input config does not have a cls field` and  pass it up. Will fix it with #737

[2020-07-09 03:42] omry commented on #747
Pass it up as in a HydraException.

[2020-07-10 01:12] shagunsodhani commented on #731
Based on the meeting today, the new goals are:

- `type`/`callable` key will not be introduced.
- `call` and `instantiate` would be aliases.
- Add support for return `None` when config is `None`.
- Improve the documentation:
  -  Split the documentation into two parts: (i) a short description and a longer, more technical version

[2020-07-10 17:11] omry opened #752 "Design and implement Hydra Extended Override Syntax"
The extended override syntax aims to support optimizing sweepers like Ax and Nevergrad, as well as add some fundamental capabilities like type casting in the command line.
[Document](https://docs.google.com/document/d/1JDZGHKk4PrZHqsTTS6ao-DQOu2eVD4ULR6uAxVUR-WI/edit#)

Follow task will be:
- Update Ax Sweeper Plugin to take advantage of new Overrides Parser
- Update Nevergrad Sweeper Plugin to ta

[2020-07-11 08:09] omry commented on #731
Can you create a new task? It seems like it would be better than to repurpose this task.

[2020-07-11 23:34] #573 closed

[2020-07-11 23:34] #738 closed

[2020-07-12 03:02] omry opened #753 "Explore a the option of a dedicated Prompt-toolkit based Hydra shell"
[Prompt toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/PROJECTS.rst) is a powerful shell generation toolkit, it could be nice to have a dedicated Hydra shell built on top of it.
[Introductory video](https://www.youtube.com/watch?v=hJhZhLg3obk&feature=youtu.be).

Potential advantage:
-  Pure Python, easier to integrate with completion.
- No need to work around the regu

[2020-07-12 22:17] omry opened #755 "Upgrade to OmegaConf 2.0.1"

[2020-07-13 12:56] odelalleau opened #757 "[Bug] Empty config raises an AssertionError"
# 🐛 Bug

With a basic Hydra app loading an empty config.yaml, the error message is a bit cryptic (AssertionError)

## To reproduce

** Minimal Code/Config snippet to reproduce **

Run https://github.com/facebookresearch/hydra/blob/master/examples/tutorials/basic/your_first_hydra_app/2_config_file/my_app.py with an empty `config.yaml`

** Stack trace/error message **
[code]

## Expected Behavior

E

[2020-07-13 16:32] odelalleau opened #758 "[Bug] With a List[int] config option (structured config), a single integer is still parsed as an integer"
# 🐛 Bug

Let's say you have a structured config with a single `List[int]` option named `fudge`:

[code]

I would expect an error when running `python hydra_basic.py fudge=1`, however it runs fine and `fudge` becomes the integer `1` instead of being a list.

## To reproduce

[code]

Run `python app.py fudge=1`

** Stack trace/error message **
[code]

## Expected Behavior
An explicit error should be

[2020-07-13 16:42] odelalleau opened #759 "[Bug] Using --help can be very slow"
# 🐛 Bug

Running `python app.py --help` can be very slow, probably because it seems to be scanning all subfolders.

## To reproduce

** Minimal Code/Config snippet to reproduce **

Run https://github.com/facebookresearch/hydra/blob/master/examples/tutorials/basic/your_first_hydra_app/1_simple_cli/my_app.py with `--help` in a folder that has lots of other folders / files in it.

** Stack trace/erro

[2020-07-13 17:39] omry commented on #759
Do you add your current working directory to the search path?

This is the expected behavior. You should keep only configs in your config search path. in some simple cases the config directory overlaps with your code directory, but even in those cases you should have a module:

[code]

[2020-07-13 17:50] omry commented on #758
Nice catch.
This is an OmegaConf bug, here is how you reproduce it without Hydra (I suggest you go through the OmegaConf slides to learn more about it if you haven't already (link in the README at https://github.com/omry/omegaconf).

Can you open a new issue for OmegaConf?

Here is how you reproduce this without Hydra:
[code]

[2020-07-13 18:17] omry commented on #757
This is an OmegaConf bug. moved [here](https://github.com/omry/omegaconf/issues/297).

[2020-07-13 18:17] #757 closed

[2020-07-14 01:35] #725 closed

[2020-07-14 03:23] odelalleau commented on #759
Ok I understand the reason now, it's because `.` is in the default config search path. I agree that in most cases the folder containing your script shouldn't contain a lot of files / sub-folders (and otherwise that you should store your configs elsewhere). In my case this happened because I was just testing stuff in a temporary location. It's definitely something you can avoid easily in practice b

[2020-07-14 03:30] odelalleau commented on #758
Moved to OmegaConf (https://github.com/omry/omegaconf/issues/300) => will close this one

[2020-07-14 03:30] #758 closed

[2020-07-14 03:46] omry commented on #759
Yeah, if this becomes a repeating issue I will think about detecting it.
it's not so simple because there are multiple config sources and some of them can potentially be slower (if they are making a network call to list/get the config, as an example).
No such ConfigSources exists right now, but the abstraction is there and will be used.

[2020-07-14 03:46] #759 closed

[2020-07-14 16:48] omry commented on #716
In master, try :
[code]

(Note that the correct form is without the .yaml in the config name).

[2020-07-14 16:55] omry commented on #716
You will need to change your config to
[code]

You can also do it through the overrides in the call site.
[code]

[code]

[2020-07-14 17:22] egonuel commented on #716
I just pip installed master and can confirm that it works now :)
The only thing is that it needs to be `return_hydra_config`, right?
Will this `.` notation replace the `:` now?

[2020-07-14 17:30] odelalleau opened #760 "[Feature Request] Automatic output redirection to files"
# 🚀 Feature Request

It could be handy for Hydra to provide a way to automatically redirect all stdout / stderr to files.

## Motivation

It's common to either (i) run jobs locally whose output is manually redirected with >& some_log for inspection, or (ii) run jobs on a cluster whose output is redirected to some files by the cluster management system.
If Hydra took care of it no manual step would

[2020-07-14 17:50] omry commented on #760
Thanks, I will look into it for a future version.
This may be a tricky one to achieve. If your application is launching a subprocess you will likely need to redirect it's output somehow yourself (possibly to the stdout and stderr of the current process).

[2020-07-14 18:45] omry commented on #716
. notation is normal interpolation.
hydra: is a custom interpolation. you can learn about it [here](https://omegaconf.readthedocs.io/en/latest/usage.html#custom-interpolations).

This is not a global change, hydra: still exists and needed.
Once [this](https://github.com/omry/omegaconf/issues/280) is added to OmegaConf I will be able to eliminate the need for it.

[2020-07-14 18:45] #716 closed

[2020-07-14 19:10] #607 closed

[2020-07-14 19:13] omry commented on #654
This is reflecting master, if you want to try it checkout from master.

https://hydra.cc/docs/next/advanced/command_line_syntax

[2020-07-14 19:13] #654 closed

[2020-07-14 19:31] omry commented on #755
Blocked on official OmegaConf 2.0.1, for now we are sticking to 2.0.1 release candidates.

[2020-07-14 21:45] jgbos opened #763 "Usage Question: User defined configuration"
I have an usage question.  I'm designing a toolbox that will contain a configuration of approaches to train and evaluate ML models. This toolbox is an application that can be installed with it's own configuration files.

Is there a way for the user to:
- Define their own set of configuration files locally: `configs/<groups>/user_impl.yaml`. For example, their own dataset and models
- Define their

[2020-07-14 21:49] shagunsodhani opened #764 "Clean up the `instantiate` method"
# Changes to do:

* [x] type/callable key will not be introduced.
* [x] call and instantiate would be aliases.
* [x] Add support for return None when config is None.
* [ ] Improve the documentation:
* [ ] Split the documentation into two parts: (i) a short description and a longer, more technical version
* [x] Raise a HydraException correctly
* [x] Additional tests

[2020-07-14 21:50] shagunsodhani commented on #731
Closing in favor of https://github.com/facebookresearch/hydra/issues/764

[2020-07-14 21:50] #731 closed

[2020-07-15 00:35] jgbos commented on #763
I am able to do the `OmegaConf.merge` approach in #274, but that has some limitations on the interpolation.  I'm not unsure how to implement the search path plugin you recommend.  I'll keep trying as this won't be high priority for you.

[2020-07-15 00:52] omry commented on #763
Hi @jgbos.
Take a look at the config path plugin:
https://github.com/facebookresearch/hydra/tree/master/plugins/examples/example_searchpath_plugin

This is the right way to achieve what you are after.

Users can add their own configs in the `config_path` specified in their `@hydra.main()`.

Keep in mind that currently the composition order will not be what you want with respect to the primary conf

[2020-07-15 00:54] omry commented on #763
Also, if you are not already - please us Hydra 1.0.0rc1 or master for this.

[2020-07-15 02:20] anthonytec2 opened #768 "[Bug] Defaults Populated Structured Config"
# 🐛 Bug

I am trying to create a top level structured configuration which is used to check my config.yaml.  At the moment, I cannot get the defaults to be populated and correctly working will null initializers. I created a sample of this here: https://github.com/anthonytec2/hydra/commit/38b94c57928f50f9f5ec196346dd445b5f96094c. Thing works when assigning defaults to be field(default_factory=lambda

[2020-07-15 02:22] omry commented on #768
Please create a zip file with a minimal rero. (app.py, and the relevant yaml config file).

[2020-07-15 02:24] anthonytec2 commented on #768
[struct.zip](https://github.com/facebookresearch/hydra/files/4922498/struct.zip)

[2020-07-15 03:32] odelalleau opened #769 "[Bug] @hydra.main() does not preserve the function's return value"
# 🐛 Bug

Wrapping a function with `hydra.main()` makes it lose its return value.

## To reproduce

** Minimal Code/Config snippet to reproduce **

[code]

** Stack trace/error message **
The above code prints `None` instead of `0`.

## Expected Behavior
I'd expect @hydra.main() to return the original return value.

One typical use case is when we want to exit the program with specific return codes

[2020-07-15 04:31] odelalleau opened #770 "[Bug] Crash when using postponed evaluation of annotations"
# 🐛 Bug

Structured configs seem not to work with the upcoming postponed evaluation of annotations (https://www.python.org/dev/peps/pep-0563/) which will be the default in Python 3.10.

Obviously not really a problem yet but flagging it now as a FYI.

## To reproduce

** Minimal Code/Config snippet to reproduce **

Start from https://github.com/facebookresearch/hydra/blob/master/examples/tutorials

[2020-07-15 04:35] odelalleau commented on #770
Ah shoot, this is again an `OmegaConf` issue, will move it there...

[2020-07-15 04:37] odelalleau commented on #770
Moved to https://github.com/omry/omegaconf/issues/303

[2020-07-15 04:37] #770 closed

[2020-07-15 05:36] jgbos commented on #763
Thanks for taking the time tor respond to this questions.  I think I'm getting closer to understanding the concept but currently still getting errors, essentially it cannot find `framework/foo`.  Does it matter where I put the search path plugin code in the framework?

[code]

[2020-07-15 06:55] egonuel opened #771 "[Bug] interpolation to hydra.job.override_dirname containing another interpolation is not possible"
# 🐛 Bug

Now that #725 is fixed, I post an issue for the behavior I described in (https://github.com/facebookresearch/hydra/issues/725#issuecomment-653442315)
In the following example an interpolation to `hydra.job.override_dirname` containing another interpolation results in a crash:

## To reproduce

test.py:
[code]

conf/config.yaml:
[code]

call:
`python test.py b=\${a}` (I have to escape $)

[2020-07-15 07:06] omry commented on #763
It does matter, yes.
It has to in a top level hydra_plugins module, just like in the example.
You can run your app with --info to see the detected plugins and the search path.

[2020-07-15 07:12] omry commented on #769
@hydra.main is not your average function.
The underlying may actually be executing multiple times in the case of multirun. in addition, @hydra.main will be configuring your logging, change your working directory, parse your command line and more.

When using `@hydra.main`, all your logic should be inside your function. your `__main__` stanza should contain just that call.

[2020-07-15 07:12] #769 closed

[2020-07-15 07:33] omry commented on #771
please explain in words what exactly you are trying to achieve here.

[2020-07-15 08:03] egonuel commented on #771
In my actual code, I use the `hydra:job.override_dirname` in reporting for easier identification of what has been overridden.
So I have a config parameter `run_${hydra:job.num}_${hydra:job.override_dirname}`, which is used in reporting.
But as I (at least wanted to) describe in the report above, if I have an override of one of my actual parameters with an interpolation, then I can not interpolate

[2020-07-15 08:24] omry commented on #771
I see, I will take a look.
Please clean up your example and make it minimal.

[2020-07-15 08:27] egonuel commented on #771
like so?

[2020-07-15 08:29] omry commented on #771
Yes, this is good.

[2020-07-15 11:49] odelalleau commented on #769
Ah, yes, multirun makes it harder to handle in a generic way.

[2020-07-15 15:54] jgbos commented on #763
OK! I see now what I wasn't seeing before (I hope).  I was trying to just put the code in my framework, but I **need to make a search path plugin** for my framework for  hydra to find it.  Is this correct?  I create a plugin directory with `hydra_plugins/framework_plugin` and follow your `setup.py` file for example searchpath plugin, but I don't see the plugin when I do `--info`.

As test, I clone

[2020-07-15 16:04] omry commented on #769
I also don't want to encourage people to start using it as a regular function because it has so many side effects.
[code]

[2020-07-15 16:11] shagunsodhani opened #773 "yamllint throwing errors on unchanged files"

[2020-07-15 16:13] omry commented on #763
The example plugin is working as has unit tests.
can you install it and run pytest on that directory?

[2020-07-15 16:14] omry commented on #763
it's probably not the reason, but use `pip install .`, not setup.py directly.

[2020-07-15 16:36] jgbos commented on #763
Ack.  That was it! I had to do `pip install .` 🙄

Thanks for your patience and help, much appreciated

[2020-07-15 16:37] #763 closed

[2020-07-15 16:43] omry commented on #763
Awesome.
one last piece of advice:

Once you are exporting your configs via a searchpath plugin, you are in the same config namespace as other projects.
but sure to put your configs under a sub directory to avoid nasty collisions down the line.

[2020-07-15 16:49] jgbos commented on #763
One question, you say above the defaults are set with

[code]

but I had do to:

[code]

It doesn't recognize `framework/foo`

[2020-07-15 16:50] jgbos commented on #763
I didn't see the previous comment when typing that out.

[2020-07-15 16:51] omry commented on #763
1. no need to specify hydra/launcher, this was just to illustrate the point. you can remove it.
2. feel free to join the chat if you have questions.

[2020-07-15 17:08] #773 closed

[2020-07-15 18:03] odelalleau opened #775 "[Bug] No error raised when using / instead of . for some command-line parameters"
# 🐛 Bug

The following command *seems* to run fine but actually ignores the partition:
[code]

This is because the correct syntax should be `hydra.launcher.params.partition=dev` (no /).

## To reproduce

** Minimal Code/Config snippet to reproduce **

Run https://github.com/facebookresearch/hydra/blob/master/examples/tutorials/structured_configs/1_minimal/my_app.py with the command line above.

**

[2020-07-15 18:09] #724 closed

[2020-07-15 18:13] odelalleau opened #776 "[Feature Request] Detect missing arguments in multirun before actually launching the job(s)"
# 🚀 Feature Request

With `--multirun`, fully validate the config (in particular for potentially missing arguments) of all jobs before launching them.

For instance, with the following script:

[code]

==> the following command line would fail before submitting anything to SLURM (while currently it doesn't): `python my_app.py hydra/launcher=submitit_slurm -m`

## Motivation

When launching with `-

[2020-07-15 18:17] omry commented on #775
There is an error when overriding the value improperly in each one of the sub jobs.
I did not try with actual slrum but should be the same.
[code]

[2020-07-15 18:23] omry commented on #775
Something is weird here:

This fails on launching each sweep job:
[code]

And this fails immediately:
[code]

[2020-07-15 18:23] omry commented on #775
will dig later. free free to try to understand why this is behaving differently.

[2020-07-15 18:26] omry commented on #776
Since the sweeper determines what jobs to run, it's not obviously doable.
as an example, the optimizing sweepers are driving an optimization loop and you don't know the jobs it will launch in advance.

Let me think about it, it might be a feature request for individual sweepers (that will need to compose the config to see they succeed).

[2020-07-15 18:48] odelalleau commented on #775
Ah, I forgot to mention that when I tried my original example, since it queued my job in the wrong partition, it got stuck there and I ended up killing it. So I never reached the point where I would see the error, if it is raised only when the job starts.
In that sense it could be related to #776: ideally the error would be raised immediately.

From your tests it sounds like this behavior is launc

[2020-07-15 18:51] odelalleau commented on #776
Oh ok, I haven't played with sweepers yet. But couldn't you validate the job config provided by the sweeper before launching the job on the cluster? (I'm assuming the sweeper runs locally and outputs jobs to be run on the cluster, but I may be totally wrong)

[2020-07-15 19:13] omry commented on #776
which job? if the sweeper is generation jobs dynamically and it needs to run one job to generate the next?

[2020-07-15 19:13] omry commented on #776
For simple sweepers it could be done, for optimizing sweepers like Ax and Nevergrad, not so much.

[2020-07-15 19:24] odelalleau commented on #776
Sure in that case you can’t do anything until the first job has completed. But Hydra could at least crash before the second one is queued on the cluster (if its config is invalid).

[2020-07-15 19:31] odelalleau commented on #776
Also I expect that many failure cases can be caught just by validating the first job's config, so even just this partial check could be useful already.

[2020-07-15 22:29] omry commented on #776
I will try to improve this a bit for 1.0.

[2020-07-15 22:30] omry commented on #776
I don't think composing the first config is a good proxy for anything meaningful.  I don't want a system that sometimes works and sometimes not depending input order.

[2020-07-15 22:44] odelalleau commented on #776
Fair enough. In that case the alternative of launching only valid jobs and displaying an error for jobs that are skipped due to invalid configs would already be very useful, and (at least in theory) should work regardless of the sweeper logic.

[2020-07-15 23:39] shagunsodhani opened #779 "[Docs] In documentation, add a section on how to setup the website locally"

[2020-07-16 04:03] omry commented on #647
Application with a runtime error:
[code]

Running this only shows the interesting stack frames:
[code]

You can still get the whole thing if you want to dig deeper:
[code]

[2020-07-16 04:15] omry commented on #779
can you add labels and milestone?

[2020-07-16 15:42] #647 closed

[2020-07-16 19:04] #768 closed

[2020-07-16 20:03] Tetratrio opened #785 "[Bug] Optional field as config group set to None throws AttributeError"
# 🐛 Bug

Setting the type of a field in the root dataclass config to another dataclass throws an AttributeError, setting this type to

## To reproduce

[code]

This will run without any problems
[code]
While this will throw an exception
[code]

** Stack trace/error message **
[code]

## Expected Behavior
It should set the `module` field of the root config to `MyModuleConfig`

## System information

[2020-07-16 20:21] Tetratrio commented on #785
### workaround
Change
[code]
to
[code]

[2020-07-17 02:19] shagunsodhani commented on #764
Fixed in #766

[2020-07-17 02:19] #764 closed

[2020-07-17 06:12] #775 closed

[2020-07-17 06:12] #776 closed

[2020-07-17 18:22] omry commented on #785
This is an OmegaConf bug, see the issue there for a minimal repro with OmegaConf.

[2020-07-17 18:31] senthilps8 opened #789 "Commandline interpolation by indexing lists"
I recently switch to using the master branch due to #748 .
It looks like the commandline syntax has changed and it doesn't seem possible to do interpolation by indexing lists (or I couldn't figure it out).

For example, for a config containing:
[code]

In v0.11, I could do `python main.py newlistconf.0=\${listconf.0}`
But now, on master, this throws the following error:
[code]

Even `python main.p

[2020-07-17 18:44] omry commented on #789
Thanks for reporting. I will take a look.

[2020-07-18 00:36] #785 closed

[2020-07-18 01:18] anthonytec2 opened #791 "[Bug] MISSING for Object Conf cls argument"
# 🐛 Bug

OmegaConf cls argument should not be a mandatory value if target is defined. Can we change this to be an optional value with None being the default?

** Stack trace/error message **
[code]

## System information
- **Hydra Version** :  1.0.0rc2
- **Python version** : 3.7.7

[2020-07-18 01:29] omry commented on #791
Please create a minimal repro.

[2020-07-18 01:29] omry commented on #791
cc @shagunsodhani

[2020-07-18 01:46] anthonytec2 commented on #791
[struct.zip](https://github.com/facebookresearch/hydra/files/4940924/struct.zip)
Run: `python my_app.py +fn=NR +db=mysql`

[2020-07-18 02:24] shagunsodhani commented on #791
Added the example as a gist: https://gist.github.com/shagunsodhani/cafab41a2ce43d3cb4604c652725aa02

In the current form, the bug is not happening because of `cls`/`target`. It is happening because `dict(cfg.fn)` is trying to resolve `cfg.fn` (which contains a key with missing value). Adding the config below for reference:

[code]

I modified the script to use `hydra.utils.instantiate` (which I th

[2020-07-18 02:44] anthonytec2 commented on #791
So my reason for putting dict(cfg.fn) as this mirrors the use case in an issue I am having. I am using a library which tries to flatten the cfg.fn and log all its values. The problem is as we loop through all the config values, cls is missing which causes the above error.

[2020-07-18 02:48] #771 closed

[2020-07-18 03:18] omry commented on #791
@shagunsodhani , please clean this up. dunno why I missed it:
[code]

You can completely remove everytging after params.
just kill cls, this was introduced in Hydra 1.0 and it's not yet released. I don't mind breaking here.

[2020-07-18 10:19] shagunsodhani commented on #791
Do we still allow using `cls` via config files or should I kill that as well? The current plan is to kill it in 1.1

[2020-07-18 14:19] omry commented on #791
Yes. We keep this was as a deprecation. This is much cheaper and is not contaminating interfaces.

[2020-07-18 14:32] #791 closed

[2020-07-18 17:17] #789 closed

[2020-07-18 18:16] omry opened #795 "Improved Hydra 1.0 documentation"
New pages:
- [Terminology](https://hydra.cc/docs/next/terminology)
- [Advanced/Command-line syntax](https://hydra.cc/docs/next/advanced/command_line_syntax)
- [Advanced/Hydra in Unit Tests](https://hydra.cc/docs/next/advanced/unit_testing)
- [Advanced/Hydra in Jupyter Notebooks](https://hydra.cc/docs/next/advanced/jupyter_notebooks)

[2020-07-18 18:17] omry commented on #795
Done

[2020-07-18 18:17] #795 closed

[2020-07-18 19:52] omry opened #797 "Introduce a command line DSL"
[Documentation](https://hydra.cc/docs/next/advanced/command_line_syntax)

[2020-07-18 19:53] #797 closed

[2020-07-19 16:50] greaber commented on #399
A related idea I had was that in addition to the special `???` value, you could add a `????` value that would raise an error immediately if that value were not present.  Maybe this does break down in some complex cases, but it seems like it could be nice in simple ones.  Not sure though because I just started with hydra.

[2020-07-19 16:58] omry commented on #399
Hi @greaber.
Not present when?

This just sounds like a potential feature of Hydra that would trigger a failure if a composed config has missing values. this is something I can consider, but I do not see the point in introducing another kind of MISSING.

[2020-07-19 17:02] greaber commented on #399
As I said, I'm not sure it is worth it.  But I'm just adapting a model using a different config system that used a combination of a config file and some argparse options.  And some of those options were mandatory, so argparse would just raise an error if you didn't set them.  And that seemed to me like kind of a natural behavior and easier than having to manually check for missing mandatory argume

[2020-07-19 17:12] omry commented on #399
I can see use cases where it would make sense to permit a missing config option, for example if the application wants to manually compose additional things into the config at runtime.
on the other hand, I also see the value in failing early in such cases.

I can revisit this for 1.1. A potential solution is to just introduce a new flag for @hydra.main() like `permit_missing : bool = False`, which

[2020-07-19 17:13] omry commented on #399
I need to think this through though, so I may still end up abandoning this idea.

[2020-07-19 21:21] greaber opened #798 "[Bug] Can't use overrides containing an asterisk"
# 🐛 Bug

It seems like it is not possible to use an override that contains an asterisk.  The lexer generates a token recognition error.  I didn't dig into the grammar to understand why though.

## To reproduce
[code]
[code]

** Stack trace/error message **
[code]

## Expected Behavior

## System information
- **Hydra Version** :  latest dev version
- **Python version** :
- **Virtual environment ty

[2020-07-19 21:33] omry commented on #798
Thanks for reporting.
1. There is an issue with the error itself.
2. For now, you can quote the *.
See example below. Note that the shell interprets the outer quotes:
[code]

[2020-07-20 07:22] shaolinkhoa opened #799 "[Bug] instatinate hides root cause of an import error"
# 🐛 Bug

Hydra rc1 and rc2 scan all the error in code and raise an error but it doesn't a correct error.

## To reproduce
**Minimal Code/Config snippet to reproduce**
Folder structure:
`code/example_code.py`
[code]

`conf/code/code_python.yaml`
[code]
`conf/config.yaml`
[code]
`my_app.py`

[code]

**Stack trace/error message**
My environment doesn't have `pytorch_lightning`. If I use `import pytor

[2020-07-20 11:31] shagunsodhani commented on #799
* `codes` should be a module. Add `__init__.py`

* New Error (with `HYDRA_FULL_ERROR=0`):

[code]

* New Error (with `HYDRA_FULL_ERROR=1`):

[code]

[2020-07-21 01:07] omry commented on #798
@greaber:
I am improving the error reporting but would like to know more about the use case:

[code]

There are multiple characters that are intentionally reserved for future use in the grammar, * is one of them (A possible use case is to use * as an indicator in sweep for "all config group options".
The decision to allow individual special characters to the grammar is done on a case by case basis

[2020-07-21 02:09] shagunsodhani opened #802 "Improving the test coverage in Hydra"
We need to start working on improving the test coverage in Hydra.
There are some roadblocks like how to ensure examples coverage is properly accounted for.

_Originally posted by @omry in https://github.com/facebookresearch/hydra/pull/800#discussion_r457554277_

[2020-07-21 03:08] jgbos opened #803 "[Bug] Submitit Launcher throws error for `cls` argument"
# 🐛 Bug

PyPI version is at `1.0.0rc3` and therefore fails with latest hydra-core rc2 release.

## To reproduce

Run

`pip install hydra-core --pre`

and then

`pip install hydra-submitit-launcher --pre`

Then try to run an example, you get the following error:

[code]

## Expected Behavior

Version should be at `1.0.0rc4` for running `pip install hydra-submitit-launcher --pre`

## System informat

[2020-07-21 05:41] omry commented on #803
Should be solved, try again.

[2020-07-21 05:41] #803 closed

[2020-07-21 09:49] charleswilmot opened #804 "[Feature Request] Sweep over files"
# 🚀 Feature Request

## Motivation

It would be super convenient to autonomously replace wildcards like when using the multirun functionality:
[code]
Would then apply the script on all files matched twice, once with explore=True, once with explore=False

[2020-07-21 14:26] greaber commented on #798
In one of our models, you tell it which files to process (for inference) by supplying a string that it uses as a glob expression.

[2020-07-21 15:12] roytseng-tw opened #805 "[Feature Request] Add support for some features from gin-config"
# 🚀 Feature Request

Support some features in [gin-config](https://github.com/google/gin-config)
- Passing functions, classes, and instances ("configurable references") as a config node for `instantiate`
- Configuring the same function in different ways ("scopes")

This way, hydra will be super powerful.

## Motivation

For example when instantiate an optimizer, net parameters to be optimized are

[2020-07-21 15:33] omry commented on #805
Hi Roy,
Thanks for the suggestion.
Hydra takes a different approach where the user is responsible for passing your configuration around and using it appropriately.
I don't subscribe to the idea of automatically binding configuration with code, I think it's causes more problems than it's worth.
There are some problems the gin-config approach is creating, for example - what do you do when you want t

[2020-07-21 15:33] #805 closed

[2020-07-21 15:48] omry commented on #804
You can achieve this through interpolation, note that I single quote the path so it won't get interpreted by the shell.

[code]

Please note that by default when printing a configuration with pretty() interpolations are not resolved, so it will look like this didn't work.
you can print with cfg.pretty(resolve=True), or alternatively you can access the actual field and print it.
[code]

[code]

[2020-07-21 15:48] #804 closed

[2020-07-21 20:51] omry commented on #798
Alright. I will add *, but there is a small (under 10%) chance that I will have to remove it in the future if it conflicts with some other features.
If that happens, the alternative would be to quote it as I shown you above.

[2020-07-21 21:53] #798 closed

[2020-07-22 01:51] shagunsodhani opened #807 "Improving the exception handling in instantiate method"
Points from Omry: The exceptions should be compact and containing only interesting stack frames, and not a million chained exceptions.

_Originally posted by @omry in https://github.com/facebookresearch/hydra/pull/800#issuecomment-662171016_

[2020-07-22 07:24] greaber commented on #798
All right, thanks.

[2020-07-22 11:23] jan-matthis commented on #760
[`capturer`](https://pypi.org/project/capturer/) could be useful for this. The docs also include a discussion of design choices and alternatives.

[2020-07-22 12:15] NTL-Remi opened #808 "[Feature Request] Instantiate objects that require positional-only arguments"
# 🚀 Feature Request

Hello,
I propose to add the ability to specify positional-only arguments for object instantiation.

## Motivation

**Is your feature request related to a problem? Please describe.**
Since Python 3.8, and more precisely [PEP 570](https://www.python.org/dev/peps/pep-0570/), it is possible to define functions that forbid passing arguments by name.
From what I have seen from the [

[2020-07-22 13:02] shagunsodhani commented on #808
Thanks for the feature request. One problem I see is that we support Python 3.6 and 3.7 as well while position arguments are only supported since Python 3.8

[2020-07-22 13:08] remisphere commented on #808
Well 3.6 and 3.7 still accept positional arguments, they are just not **mandatorily** positional.
So regarding the python version, there is no backward compatibility problem.

[2020-07-22 13:10] remisphere commented on #808
Sorry, I am the same person, just answering from another account ><

[2020-07-22 13:10] shagunsodhani commented on #808
Oops :) I think I misunderstood the motivation. I assumed that you were requesting support for "positional-only" parameters.

[2020-07-22 13:12] remisphere commented on #808
No, but from what I understand of the code, it is currently not possible to instantiate objects that have an `__init__` with positional-only arguments.

[2020-07-22 13:57] jgbos opened #810 "[Feature Request] Saving Ax optimization result"
# 🚀 Feature Request

I have found it useful to save out the optimization state of Ax for loading the trial results and the model fit to the data using

[code]

The same command will also provide snapshots during the optimization.

## Motivation

**Is your feature request related to a problem? Please describe.**

No problem, just a way to add more information for the user.

## Pitch

**Describe the

[2020-07-22 13:59] jgbos commented on #810
This might be related to #468

[2020-07-22 14:20] shagunsodhani commented on #810
I think it can be saved in the [output directory](https://hydra.cc/docs/next/configure_hydra/workdir).

[2020-07-22 15:28] omry commented on #808
Thanks for the feature request.
The surface area of the instantiate method is already quite large and I am not sure this is worth the added complexity. Especially given that we plan to make the surface area even larger by supporting recursive instantiation (#566).

One workaround that you can employ now which is to use a static or class method as a factory, that will delegate the parameters approp

[2020-07-22 15:33] omry commented on #468
@shagunsodhani can you clarify exactly what is the issue here? there is no description and the issue title is vague.

[2020-07-22 15:36] shagunsodhani commented on #468
We want to have a schema, that all HPO plugins can use, for returning the result of optimization.

Regarding #810, the ask is that we support saving the "state" (and not just the final output) of the optimization process.

[2020-07-22 15:38] omry commented on #760
Thanks @jan-matthis. This can be useful if there is a way to enable it as a plugin, I don't think this functionality deserves an additional dependency.
Such a plugin might be possible in the near future though.

[2020-07-22 15:40] omry commented on #468
Can you update the description of the task?

[2020-07-22 15:42] omry commented on #810
@jgbos, can you give more info about how you want to use this information?
Also, the optimization is iterative and the intermediate state is changing constantly. Are you just interested in the latest state or all of them?

[2020-07-22 15:43] omry commented on #810
I believe Ax supports different backends for storing the optimization state, we should be able to allow configuring it. would that work?

[2020-07-22 16:14] jgbos commented on #810
I'm new to Ax so learning, but currently just generating the plots as shown here:

https://ax.dev/tutorials/gpei_hartmann_service.html

It's useful to see what the model learned.

I haven't played with the snapshots it saves out, but the overall optimization takes a while to run.  I could look at the snapshot to see the current state.

Also, I haven't tested this idea, is it possible to resume an

[2020-07-22 16:15] jgbos commented on #810
Yes, I was thinking it could just be configurable if you wanted it.

[2020-07-22 18:18] shagunsodhani commented on #810
Another possibility is that the user can register a function that is called at the start/end of the optimization process. Something along the lines of `setup` and `teardown` in pytest.

[2020-07-22 22:24] omry commented on #810
This is something that will be possible with Lyfecycle plugins once they are added. but I don't think it's a good solution here. it's more for plugin authors than for end users.

[2020-07-22 22:25] omry commented on #810
Not currently.

[2020-07-23 01:26] jieru-hu commented on #610
- [ ] parameterize Python version

- [ ] separate each plugin into its own job.

[2020-07-23 01:31] binh-vu opened #813 "[Feature Request]"
# 🚀 Feature Request

Don't capture exception when running hydra application in debug mode in pycharm.

## Motivation

When developing algorithm, I often use debug mode in Pycharm, which stops the program right in the place where the exception is thrown. This makes debugging super easy and pleasing.

Right now, when encounters error, hydra kill the program using `sys.exit(1)`. It will be better if

[2020-07-23 02:47] jgbos commented on #810
Oh sorry, I know the plugin doesn't support continuing from a snapshot, I just wasn't sure if Ax supported it.  If it does, that's a reason to save out the snapshot.

[2020-07-23 04:18] omry commented on #810
That is a question for the Ax project.
Even if it did, it does not automatically means Hydra would support it too.

[2020-07-23 04:42] omry commented on #813
Hydra is doing very specific exception handling. I absolutely do not want to let the exception fly to the shell.
Please try on 1.0.0rc2 or master to see what I am talking about. Generally Hydra error handling improved dramatically from 0.11.

Happy to continue the discussion here but I am not planning on doing it.

[2020-07-23 04:42] #813 closed

[2020-07-23 04:52] jgbos commented on #810
Agreed, just providing a possible justification for saving the snapshot, not that I'm asking you to support continuing from a snapshot!  Obviously I can update the plugin for my personal needs (that's what I'm currently doing).  Just thought this might be a good feature for other users.

Go ahead and close this if it's beyond the scope of your project.

[2020-07-23 05:00] binh-vu commented on #813
If you don't want to let the exception fly to the shell, we can check if the code is running in debug mode and re-throw the exception in that case (see [here](https://stackoverflow.com/questions/38634988/check-if-program-runs-in-debug-mode)). That will be better for people debugging the code (as they don't have to modify anything).

I am happy to submit a PR for that if you don't have time to do t

[2020-07-23 05:05] omry commented on #810
Thanks for suggestion @jgbos. Your feedback is valued.
At this point the plugin is not yet mature and there are some changes planned. I prefer to hold off any additional features until we are on stable ground.

There are less obvious considerations at play as well:
1. Hydra is offering an interface for multiple optimizers (two at this time, probably more later). From a UX perspective it's best to

[2020-07-23 05:05] omry commented on #810
closing for now..

[2020-07-23 05:05] #810 closed

[2020-07-23 05:07] omry commented on #813
Sure, submit a PR and we can discuss over the code.
by the way: try to give meaningful titles to issues :)

[2020-07-23 08:07] imanishbarnwal commented on #205
Hello @natolambert, can I take this issue?

[2020-07-23 08:11] imanishbarnwal commented on #723
Hello @omry, I want to take this issue. Can please elaborate what exactly I need to do. Thank You!!

[2020-07-23 18:24] omry commented on #205
Hi @imanishbarnwal, this is planned for Hydra 1.1. there is some work going on to define a grammar that covers this as well.
See #752 and the linked document.

[2020-07-23 18:28] omry commented on #723
Awesome, basically this is a cleanup pass for the examples under the examples directory, in particular examples that are mentioned in the documentation.

All of the documented examples should be tested, and most already are. see tests/test_examples in the repo for what is already there.
For example, this covers examples from the tutorials. but there are some gaps.
Another thing is to add a direct

[2020-07-23 20:17] jieru-hu opened #816 "Look into generate .circleci/config.yml dynamically with Hydra."
Investigate if there's a cleaner way to generate the config.yml more dynamically.

[2020-07-23 20:36] jieru-hu opened #817 "Speed up CircleCI mac os tests."
They are very slow, twice as time needed than Linux. :(

Response from CircleCI:

The linux OS you are referring to is a Docker container, which uses a very base minimal version of a Linux image, as well as the dependencies you would normally need to run. Docker images can be multiple times faster than macOS or machine executors.

A macOS executor is a virtual machine that will spin up on request

[2020-07-23 23:57] #799 closed

[2020-07-23 23:58] omry commented on #665
If done please close the issue.

[2020-07-23 23:59] omry commented on #701
@shagunsodhani, done?

[2020-07-24 00:02] omry commented on #701
from the reference. classmethod should not have a self, right?

![image](https://user-images.githubusercontent.com/376455/88349903-40ddd880-cd06-11ea-8071-c1d5f4896364.png)

[2020-07-24 00:15] shagunsodhani commented on #701
Doing today :)

[2020-07-24 02:15] shagunsodhani commented on #807
**Original**

[code]

**Proposed**

[code]

[code]

[2020-07-24 03:28] #779 closed

[2020-07-24 04:19] omry commented on #808
Let's put a timeout of 12 months on this feature request. if there is no significant interest in 12 months I will close this.

[2020-07-24 10:27] shagunsodhani opened #822 "Split contribution guide into smaller sections"
[code]

[2020-07-26 05:40] rohitgirdhar opened #826 "Relative variable interpolation"
# 🚀 Feature Request

(This might actually be a feature request for OmegaConf, but perhaps easier to describe here.)

It would be great to support relative variable interpolations like so:

In dataset/ucf/train.yaml
[code]

#### Why not just use something like `${dataset.params.fold}` instead?
That would work in simple cases. However, when overriding this package into multiple config groups, eg:

i

[2020-07-26 07:44] omry commented on #826
It is an enhancement request for OmegaConf indeed, and it's already [there](https://github.com/omry/omegaconf/issues/48).

[2020-07-26 07:44] #826 closed

[2020-07-27 01:05] omry commented on #610
see https://circleci.com/docs/api/v2/#trigger-a-new-pipeline , this can be used to dynamically trigger a job per plugin.

[2020-07-27 09:28] egonuel commented on #771
even though that you fixed it already a while ago, I just wanted to say thank you for the fix!

[2020-07-28 14:42] turian opened #828 "[Bug] With compose API, there is no `HydraConfig`"
# 🐛 Bug

I am using the compose API within a Jupyter notebook. However, there is no `HydraConfig` even after there is a `GlobalHydra`. (I want to use `HydraConfig.get().runtime.cwd`.)

## To reproduce

** Minimal Code/Config snippet to reproduce **

[code]

** Stack trace/error message **
[code]

## Expected Behavior

I would expect that using the compose API, we could still access HydraConfig.

#

[2020-07-28 14:44] turian opened #829 "[Bug] TypeError: initialize() got an unexpected keyword argument 'job_name'"
# 🐛 Bug

The [compose API doc](https://hydra.cc/docs/next/experimental/compose_api) specifies that you use parameter job_name to initialize, but this causes an error.

## To reproduce

** Minimal Code/Config snippet to reproduce **

[code]

This is from the [compose API doc](https://hydra.cc/docs/next/experimental/compose_api)

** Stack trace/error message **
[code]

## Expected Behavior

Code fro

[2020-07-28 19:08] nathansomavarapu opened #830 "[Bug] MLFlow folder not created with Hydra context"
# 🐛 Bug

This might not be a bug it might have more to do with my misunderstanding, but I can't find much info on it so I thought I would ask. How can MLflow be used in conjunction with hydra? When I try and use the MLflow context manager inside a main function with the Hydra decorator the MLflow logging directory is never created.

## To reproduce

[code]

** Stack trace/error message **
[code]

[2020-07-28 19:26] jieru-hu commented on #830
@nathansomavarapu thx for filing the issue. Could you update your issue's title with more info?

The following thread might help:
https://stackoverflow.com/questions/62296590/mlflow-and-hydra-causing-crash-when-used-together

We are working on a new type of plugin that will support MLFlow more naturally.
see https://github.com/facebookresearch/hydra/issues/385

[2020-07-28 19:28] nathansomavarapu commented on #830
I'll take a look at that thread! Sorry for the title.

[2020-07-28 19:36] jieru-hu opened #831 "[Bug] example notebook on binder failed to build."
# 🐛 Bug
to reproduce, click on launch binder link from the doc
https://hydra.cc/docs/next/advanced/jupyter_notebooks

stack trace from the binder console:
[code]

![Screen Shot 2020-07-28 at 12 35 18 PM](https://user-images.githubusercontent.com/4642412/88712581-cda1e100-d0ce-11ea-9b56-efdfc613791b.png)

[2020-07-28 19:47] jieru-hu commented on #829
This should work in hydra-core 1.0.0rc2. could you pls upgrade and try again?

[code]

[2020-07-28 20:09] nathansomavarapu commented on #830
Ok that link was pretty helpful I was actually able to get my expected behavior by adding the following line before the MLflow context manager

[code]

So in total a working example for anyone who might run across this is,

[code]

[2020-07-28 20:09] #830 closed

[2020-07-28 21:02] omry commented on #831
Looks like it does not have java there, which is now required to generate the antlr grammar.
we should either find a way to install it or otherwise move to a different service that allow it.

[2020-07-28 21:06] omry commented on #831
can you reach out to then [here](https://binder.works/request-help) and see if there is a way to get Java there?

[2020-07-28 21:23] omry commented on #829
This is covered by tests and should work with the right version of Hydra. reopen if you still have issues after you upgrade.

[2020-07-28 21:23] #829 closed

[2020-07-28 22:01] omry commented on #828
This is not a bug.

runtime.cwd is only populated during a real Hydra run and will not be available in compose (what is the runtime.cwd for a compose anyway?).

The compose API now supports [returning the Hydra config](https://hydra.cc/docs/next/experimental/compose_api#api-documentation) which can help here, but it does still not (and will not) initialize the HydraConfig singleton:
A singleton do

[2020-07-29 07:34] #828 closed

[2020-07-29 10:45] shagunsodhani commented on #831
Just a fyi, I tried running it on colab. The url was well-formed: `https://colab.research.google.com/github/facebookresearch/hydra/blob/master/examples/jupyter_notebooks/compose_configs_in_notebook.ipynb` (more [here](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb). But it could not access `cloud_app` dir (in `with initialize(config_pa

[2020-07-29 10:52] shagunsodhani commented on #822
Proposing the following pages:

* Local Setup
    * Environment Setup
    * Website Setup

* Style Guide

* Testing

* News Entry

The content will mostly be copy-pasted from the existing page.

[2020-07-29 16:09] nai62 opened #833 "[Bug] root logger has FileHandler after using `hydra_task_runner`"
# 🐛 Bug
Once `hydra_task_runner` is called from a unit test, a FileHandler seems to be registered to the root logger of `logging`. When a logger tries to log something from another test, it fails because of the staled FileHandler.

I could successfully make the tests pass by manually removing the FileHandler, i.e., adding `getLogger().handlers.pop()` at the end of `test_1()`. But it doesn't seem t

[2020-07-29 16:59] omry commented on #831
We can chat about collab, I tried and I don't think it's really checking-out the repo in your link. (try !ls and see that the config files are not there).

[2020-07-29 17:02] omry commented on #822
[code]

Also we can probably simplify the news entries section a whole lot, I used the pip docs as a base for this and it's think it's too verbose.

[2020-07-29 17:18] omry commented on #833
Thanks for reporting.
Can you share more info about your what you are using the task_runner fixture for?
Up to this point it was only used by Hydra itself and Hydra plugins.

[2020-07-29 17:18] shagunsodhani commented on #831
Ohh that is right. It does not have access to the files

[2020-07-29 18:25] omry opened #836 "[Bug] In some cases list with whitespace fails to parse"
Example:
[code]

[2020-07-30 01:38] nai62 commented on #833
Actually I wanted to unit test my app that uses hydra. I first tried Compose API and found that `hydra.utils.get_original_cwd()` failed with them. So I thought it might be better to initialize hydra as much similar way to actual training as possible, and tried to use `hydra_task_runner` while patching `TaskTestFunction.__call__`. Is there any better way?

[2020-07-30 03:33] omry commented on #833
1. The compose API very intentionally does not change the working directory. so hydra.runtime.cwd is not even defined except for ".".

2. get_original_cwd() is also relying on a a Hydra config singleton which is not populated in compose.
You could initialize the HydraConfig singleton yourself. I don't have a code sample but look how it's done normally in the codebase.

You can pass return_hydra_co

[2020-07-30 05:42] nai62 commented on #833
Thank you for your kind explanation! I didn't notice HydraConfig singleton has to be initialized. I'll give it a try.
So it seems I don't need `hydra_task_runner` anymore. May I close this issue?

[2020-07-30 07:20] omry commented on #833
Well, normally it is initialized automatically by @hydra.main(). It just occurred to me after seeing your question that initializing it might be a solution in your situation.

The problem you are seeing is likely due to the TaskTestFunction shutting down the logging on exit. During the run of the task the logging subsystem is initialized and it's shutdown after the task.
I  need to think about it

[2020-07-30 14:28] 2timesjay commented on #810
@jgbos @omry To answer some Ax Qs: Ax saves the complete history of the experiment, so that could be used for visualization purposes. Our API supports resuming at the most recent step and it would be a small extension to support resuming from any step.

The save/load API (which includes that @jgbos found above but is more extensive if you need sqlalchemy integration) is the main mechanism we use f

[2020-07-30 14:43] Ceceu opened #839 "[Bug] Quick start guide on Colab"
# 🐛 Bug

Unable to run a quick start guide on Colab.

## To reproduce

Just run this [Colab](https://colab.research.google.com/drive/11AF7sQW3A5xdL6hVf0NL_8-ke4iuxsAd?usp=sharing) example

** Stack trace/error message **
[code]

## Expected Behavior
1. Was expected that config.yaml is loaded automatically when I run my application;
2. the output should be like:
[code]

[2020-07-30 15:20] omry commented on #839
This not supported and will not be supported.
@hydra.main() does many things that are incompatible with Jupyter notebooks.

What you can do, is to use the [Compose API](https://hydra.cc/docs/next/experimental/compose_api) inside your notebook to create a config object and call your @hydra.main() function with it (or any other function).

[2020-07-30 15:20] #839 closed

[2020-07-30 15:22] omry commented on #839
Here is an [example notebook](https://github.com/facebookresearch/hydra/tree/master/examples/jupyter_notebooks).
The binder link is broken right now, but you should be able to check-out the repo and run it locally after you pip install the checked out repo.

[2020-07-31 07:41] SunQpark opened #840 "[Bug] `HydraConfig.get().run.dir` different from actual cwd"
# 🐛 Bug

I discovered that `HydraConfig.get().run.dir` returns wrong working directory, when it is called some seconds after the initialization. It seems like the time-formatter in the `hydra.run.dir` is being evaluated when HydraConfig.get() is first called, not when hydra is being initialized.

## To reproduce
[code]

## Expected Behavior
written in code abobe

## System information
- **Hydra Ve

[2020-07-31 07:49] omry commented on #840
Thanks. please test on latest Hydra 1.0 (rc2 or master).

[2020-07-31 07:52] omry commented on #840
Can you explain why you are accessing hydra.run.dir here instead of just using `os.getcwd()` or better yet just rely on the fact that your cwd is allocated and unique and save relative files?

[2020-07-31 08:24] SunQpark commented on #840
Because I wanted to print cwd as **relative path** and doing so with `os.getcwd()` or `Path.cwd()` needed extra step (converting it to relative path).

I'll test on latest version and comment again.

[2020-07-31 08:26] SunQpark commented on #840
It works OK on `1.0.0rc2`. Thanks

[2020-07-31 22:37] jieru-hu opened #841 "Add docker example for Ray launcher."
Add a docker example app for ray launcher. Add test for it.

[2020-08-02 04:50] #822 closed

[2020-08-02 23:42] rohitgirdhar opened #844 "[Bug] Unable to import hydra config in notebooks"
# 🐛 Bug
I just updated hydra to the latest master and am unable to import configs into notebooks.

## To reproduce

The following goes into a notebook cell
[code]

`../../temp/config.yaml`:
[code]

** Stack trace/error message **

[code]

## Expected Behavior
Should be able to load

## System information
- **Hydra Version** :  1.0.0rc3 (184cabfdc)
- **Python version** : 3.7.7
- **Virtual environme

[2020-08-02 23:46] omry commented on #844
What did you upgrade from?
nothing much happened on master since rc2.

[2020-08-03 00:13] rohitgirdhar commented on #844
Actually in process of bisecting which commit lead to the breaking change, I realize I'm now not able to repro the issue with master. Maybe I hadn't restarted the notebook kernel properly the last time. Apologies for the bother! Closing for now.

[2020-08-03 00:13] #844 closed

[2020-08-05 00:37] shagunsodhani commented on #701
Closed in https://github.com/facebookresearch/hydra/pull/821

[2020-08-05 00:37] #701 closed

[2020-08-05 01:39] shagunsodhani opened #845 "Add a standalone page describing @hydra.main() in details."
Input from @omry :
There are many details that does not fit into the tutorial.
* the behavior of the return value.
* support for config passthrough
* detailed documentation of the parameters

[2020-08-05 01:41] jgbos commented on #810
@2timesjay Great! I haven't had a need to resume optimization yet, but I can see it in my future.  Right now the `json` file is good enough for what I need (mainly just load into a notebook and generate the plots and look at the experiments)

To resume, do you just need to load in the snapshot before launching the job?

[2020-08-05 18:24] jieru-hu commented on #666
Need to add some docs on the `sync_down` options, specially the `source_dir` and `target_dir` since i'm removing them from the example.

[2020-08-05 20:20] jieru-hu commented on #666
See if we can get rid of the ray_mode=AWS part.

[2020-08-05 20:24] shagunsodhani opened #846 "Plugin commands start with a $ which is copied when using the `copy` button."
# 🐛 Bug
## Description

Plugin commands start with a $ which is copied when using the `copy` button. We should remove the $ from the command.

## Checklist
- [ x] I checked on the latest version of Hydra
- [ x] I created a minimal repro

## To reproduce

https://hydra.cc/docs/next/plugins/ax_sweeper - try the copy button to copy the installation command

Happens for most other plugins as well.

##

[2020-08-06 04:07] omry commented on #846
Reading the title of your issue left me scratching my head for a minute trying to understand what plugins commands are referring to and what copy button there is in Hydra.

Documentation is sometimes showing the output of the shell. in those cases I think it makes sense to include a $ to make it clear that this is happening in the shell.
Specifically a pip install command is just a command the use

[2020-08-06 09:14] a-z-e-r-i-l-a opened #847 "passing config file to a class initialization"
I would like to pass a config file to a class and so far tried this:

[code]

However this gives the error:` TypeError: decorated_main() takes 0 positional arguments but 1 was given`. Is there a different way that I can do this?

[2020-08-06 14:53] omry commented on #847
This is not how you use @hydra.main().
If this works, it's completely by accident.

Please use it as documented in the [basic tutorial](https://hydra.cc/docs/next/tutorials/basic/your_first_app/config_file) (and use Hydra 1.0).

You are free to pass the cfg object (or any sub node to your class once you have it:
[code]

[2020-08-06 14:53] #847 closed

[2020-08-07 04:32] calebho opened #849 "[Bug] Local submitit launcher can't fetch JobEnvironment"
# 🐛 Bug
## Description
Calling `submitit.JobEnvironment()` raises an exception with `hydra/launcher=submitit_local`

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

Directory structure:
[code]
Contents:
[code]
[code]

** Stack trace/error message **
[code]

## Expected Behavior
Should not throw

## System information
- **Hydra Version**

[2020-08-07 05:18] omry commented on #849
cc @jrapin.

Looks like we forgot to test submitit_local ?

[2020-08-07 11:51] jrapin commented on #849
Actually local works fine (just added a test to make sure the example works, but local is what was tested all the time since we cannot test on slurm...), but there is something weird somewhere:
in this example, with `python foo.py` it seems submitit launcher is not picked up. However if you run `python foo.py -m` it works just fine. Is there any reason for it?
Once this is clearer, we need to upda

[2020-08-07 14:50] omry commented on #849
Ah yes. Launchers are only used in multirun.

I am thinking about allowing launchers in regular runs as well, but it will not happen in Hydra1.0.

[2020-08-07 14:53] omry opened #851 "Evaluate using the configured launcher in regular runs"
Currently the Launcher is initialized by the sweeper, this means that in regular runs the launcher is not used and the job is executed directly.

Look at using the configured launcher in regular runs as well.

[2020-08-07 15:48] jrapin commented on #849
in the meantime could it raise an error then if not using multirun?

[2020-08-09 02:43] YannDubs opened #853 "[Submitit]: Setting environment variables from launcher"
# 🚀 Feature Request

It would be nice to be able to set environment variables from Submitit launcher.

Right now it's possible (but a bit hacky) in submitit (https://github.com/facebookincubator/submitit/issues/10) but I think it should also be possible from the launcher. The simplest way would be to add a parameter `setup` for slurm launcher.

Usecase: I'm training pytorch models using a distribu

[2020-08-09 06:35] omry commented on #853
Can you explain what environment variables you want to set and what do you mean by "from the Submitit launcher"?
did you see [env_set](https://hydra.cc/docs/next/configure_hydra/job#hydrajobenv_set)?

[2020-08-09 06:46] omry commented on #849
Raise an error when a user user Hydra without multirun?

[2020-08-09 18:47] YannDubs commented on #853
`env_set` seems to be what I was looking for. There's no reason I was saying "from the submitit launcher", I just didn't know you could do it directly from hydra!

Thanks

[2020-08-09 18:47] #853 closed

[2020-08-09 19:00] omry commented on #853
Great :)

[2020-08-09 20:41] YannDubs opened #854 "[Bug] Cannot add a value to hydra.job.set_env from the command line."
# 🐛 Bug
## Description
I cannot add a append a config value for the hydra configuration (hydra installed from source)

## To reproduce

**Minimal Code/Config snippet to reproduce**

[code]

**Stack trace/error message**
[code]

## Additional context
- I don't have the issue with `+` on non hydra config
- if I add `hydra.job.env_set.WANDB_NOTES=""` in the config then I can correctly override the va

[2020-08-09 20:44] omry commented on #854
Thanks for reporting. for now set it in your config.

[2020-08-09 23:10] #849 closed

[2020-08-09 23:31] omry opened #855 "Evaluating possibility of call/instantiate based parameters of target"
This can use logic similar to Functions.eval()

[2020-08-09 23:40] shagunsodhani commented on #855
Didnt understand it :) Could you explain a bit

[2020-08-09 23:55] omry commented on #855
It's a bit early to explain, this is a reminder for me to look at this. post 1.0.
Take a look at #825.

[2020-08-10 00:02] omry commented on #849
@calebho , mind sharing what you are trying to get out the JobEnvironment?
by accessing it from the code you add a hard dependency on Submitit, which will make it harder to switch to other launchers.

[2020-08-10 16:26] thoth291 opened #856 "[Bug] multirun is not working well with bash autocompletion when sweeps are lists (p=1,2)"
# 🐛 Bug
## Description
When I do this:
[code]

** with HYDRA_FULL_ERROR=1 Stack trace/error message **
[code]

## Expected Behavior
I would expect it not to fail.

## System information
- **Hydra Version** :  1.0.0rc3
- **Python version** : 3.8.3
- **Virtual environment type and version** : conda 4.8.3
- **Operating system** : MacOS, CentOS

## Additional context
Add any other context about the pr

[2020-08-10 17:05] omry commented on #856
Thanks for reporting.
tab comes here?
[code]

[2020-08-10 17:31] calebho commented on #849
Yeah I'm trying to get the number of GPUs I requested since I'm using Hydra to wrap another CLI which takes the number of GPUs per node as an option. I was hacking around, so I know I can work around this by putting that in my config and using interpolation to set the value in the launcher parameters

[2020-08-10 17:38] thoth291 opened #858 "[Bug] autocompletion is not working if PATH environment has `.` in the list"
# 🐛 Bug
## Description
Basically when you install it for that terminal it is not working.
So I did comparison with my MacOS installation (all the same versions of hydra and stuff) and got that the difference in behavior comes from `command` tool.
Here is how it reacts on working side (on my mac):
[code]
And how it reacts in CentOS:
[code]
## Expected Behavior
I was able to fix it by replacing this

[2020-08-10 17:44] thoth291 commented on #856
Yes, @omry .
Basically, this will work:
[code]
And these ones will not:
[code]
[code]
[code]

[2020-08-10 19:45] omry commented on #849
taking this to an offline chat.

[2020-08-10 19:51] omry commented on #858
Can you address this question at KDE?

[2020-08-10 20:06] #846 closed

[2020-08-11 01:19] shagunsodhani commented on #566
Is the New style intended to replace the current one?

[2020-08-11 01:54] shagunsodhani commented on #831
I see a couple of workarounds while using binder:

1. Put a separate requirements.txt in [`binder`](https://mybinder.readthedocs.io/en/latest/faq.html#can-i-put-my-configuration-files-outside-the-root-of-my-repository) folder. This file installs the latest hydra version from pip. I think this is the least disruptive option.

2. Using a docker file as described [here](https://mybinder.readthedocs.i

[2020-08-11 02:00] omry commented on #831
cool, 1 sounds very reasonable to me. let's do it.

[2020-08-11 02:01] omry commented on #566
Not entirely. If you don't own the the dataclass you will not be able to add the _type_ field to it.

[2020-08-11 02:04] shagunsodhani commented on #566
Okay my original concern was if we could keep around the `params` namespace but if both the styles can be used, that request is moot.

[2020-08-11 02:05] omry commented on #566
we may want to deprecate it in favor of
[code]

[2020-08-11 02:17] shagunsodhani commented on #831
Do not know how to test on CI. for now, I tested locally.

[2020-08-11 02:18] shagunsodhani commented on #566
Looks good!

[2020-08-11 03:06] calebho opened #861 "[Bug] Custom OmegaConf resolvers registered at module level aren't propagated to submitit launcher processes"
# 🐛 Bug
## Description
Not sure whether this is expected behavior. If it is, it should be documented somewhere. If you register a custom OmegaConf resolver at module scope, they won't be propagated to the launcher processes. Thus when you try to access a config node which uses a custom resolver, you get an exception.

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a mi

[2020-08-11 03:30] omry commented on #861
Thanks for reporting, will look into it.

[2020-08-11 06:57] thoth291 commented on #858
@omry , I've tried all possible versions of centos I had access to (from 7.x-8.x) - they all was behaving as your script would expect. I need to dig dipper to see what exactly going on in our systems - it might be some discrepancy between builtin tools. I'll check with systems team and will come back to you.
Thanks!

[2020-08-11 07:02] omry commented on #858
Thanks for digging.

[2020-08-11 17:03] thoth291 commented on #858
@omry , I tracked it down to 2 possible workarounds.
In some systems when you have "." in the PATH - it will interpret your second argument as yet another executable and will report it - that's why I'm getting 2 lines.
But if I use system-wide (not shell-wide) command: return of `which command` - then my experience is regular and not depends on PATH having `.`.
I discussed it with some systems peo

[2020-08-11 17:29] omry commented on #858
Nice find.
Feel free put up a pull request. Try to include tests that are testing for this scenario.

[2020-08-11 19:20] omry opened #863 "Use pytest-xdist to speed tests up"
`pip install pytest-xdist`.

On a strong machine:
[code]
vs
[code]

1. Can this be the default somehow?
2. Activate on circleci through the noxfile
3. This does not seem to work correctly with coverage, so unfortunately this will still have to run normally until we figure out a solution for it (possibly [pytest-cov](https://pypi.org/project/pytest-cov/), which supports pytest-xdist but need to fig

[2020-08-11 19:49] thoth291 commented on #858
[code]
That won't be possible on other than CentOS, I guess... But I will try.
**Which solution do you prefer?**, @omry .
My last one gives an extra call to do - `which` -  that should not be terribly slower, but it's still an extra call.

[2020-08-11 19:54] omry commented on #858
Looks like it has nothing to do with Centos:

[code]

I see only one solution proposed. which are the two solutions?

[2020-08-11 19:56] thoth291 commented on #858
[code]

[2020-08-11 19:58] omry commented on #858
I still see only one solution propsed.

[2020-08-11 20:01] thoth291 commented on #858
I guess I was not clear enough.
One in the description:
[code]
And one over here: https://github.com/facebookresearch/hydra/issues/858#issuecomment-672097063
[code]

[2020-08-11 21:27] PluckyPrecious commented on #720
Hi @omry can I get a `kind chore` `first timer` Documentation to work on? 🙂

[2020-08-11 21:56] YannDubs opened #866 "[Doc] Ax plugin should use underscores"
I was playing around with Ax plugin: works like a charm 💯

The docs are slightly misleading though:

[code]

Will not work and should be `banana_x` as in the [example](https://github.com/facebookresearch/hydra/blob/master/plugins/hydra_ax_sweeper/example/conf/config.yaml). It would also be good to document the use of having to escape underscores `\\_`. I had to dive in the code to understand how t

[2020-08-11 22:06] shagunsodhani commented on #866
Thanks for highlighting it. I will make a PR.

[2020-08-11 22:12] #836 closed

[2020-08-11 22:14] omry commented on #751
Marked as good first issue, keep in mind that it could be harder than it sounds.

[2020-08-11 22:14] omry commented on #720
Hi @PluckyPrecious!
Thanks for your interest, you can take a look at the issues list for [1.0 milestone](https://github.com/facebookresearch/hydra/milestone/4) and pick one that you are comfortable with. If you have questions you can ask on the individual issues.
I marked a few as "good first issues".

This one is not a good intro task because it's not very well defined.

[2020-08-11 22:25] omry commented on #858
The second one looks cleaner, but without tests I have no idea if they are equal.

[2020-08-11 22:33] thoth291 commented on #858
There are equal and the tests (of their equality) are outside of the scope of Hydra, I guess. So I can see if I will be able to push some code - this is really 2-lines change of code PR - small but powerfull.
Please note that the second solution will do an extra system call - which might slow down autocompletion for a few microseconds.

[2020-08-12 00:44] thoth291 commented on #858
I just found out that when path has `.` and your python script is executable (`chmod +x simple.py`) then even using system command will not help you to avoid issues - so I will go with the first solution - interpreting return as an array and grab the first element of it.

[2020-08-12 02:21] #866 closed

[2020-08-12 02:22] omry commented on #858
sounds good.

[2020-08-12 22:35] #840 closed

[2020-08-12 23:34] #205 closed

[2020-08-12 23:34] #393 closed

[2020-08-12 23:55] omry opened #870 "Update the Ax Plugin to use the new OverridesParser"
Followup for #752.
Hydra 1.0.0rc3 introduces new command line grammar that supports advanced sweeprs.
You can read about it [here](https://hydra.cc/docs/next/advanced/override_grammar/extended).

The Ax sweeper should use hydra.core.override_parser.overrides_parser.OverridesParser to parse the command line to take advantage of new grammar.

You can see simple usage example in the [Example Sweeper

[2020-08-12 23:59] omry opened #871 "Update the Nevergrad Plugin to use the new OverridesParser"
Followup for #752.
Hydra 1.0.0rc3 introduces new command line grammar that supports advanced sweeprs.
You can read about it [here](http://localhost:3000/docs/next/advanced/override_grammar/extended).

The Nevergrad Sweeper should use hydra.core.override_parser.overrides_parser.OverridesParser to parse the command line to take advantage of new grammar.

You can see simple usage example in the [Exam

[2020-08-13 00:00] omry commented on #871
cc @shagunsodhani , @jrapin , @jieru-hu : Anyone wants this one?

[2020-08-13 00:00] shagunsodhani commented on #870
I can take it up :)

[2020-08-13 00:11] omry commented on #393
https://hydra.cc/docs/next/advanced/override_grammar/extended

[2020-08-13 00:11] omry commented on #205
https://hydra.cc/docs/next/advanced/override_grammar/extended

[2020-08-13 01:00] jieru-hu commented on #871
i'll take this :)

[2020-08-13 07:29] omry opened #872 "Add configen"
configen is a prototype generating dataclasses from callable signatures to help creating and maintaining Structured Configs.

- [x] Introduce basic functionality with tests
- [x] Document configen
Document changes to Hydra:
- [x] Support for overriding hydra configs and defaults without declaring them in the primary app config class

Pip package is pending the release of 1.0.0rc3

[2020-08-13 16:57] omry opened #873 "command line is incorrectly removing whitespace in primitives"
[code]
results in:
[code]

because the grammar is ignoring whitespace outside of quoted strings and there is a concatenation phase for primitives.

[2020-08-13 16:57] omry commented on #873
cc @odelalleau

[2020-08-13 17:39] omry opened #874 "Add support for specifying an additional config dir in the command line"
This is useful for standalone apps that want to come with their own configs but also allow users to add additional configs that can be used with the composition.
[code]

config.yaml:
[code]

my_app.py:
[code]
In the above example, normal run results in:
[code]

The app sees only the built in config dir `conf`.
The user can specify an additional config dir via the command line:

[code]
Now the app

[2020-08-13 21:41] omry commented on #386
#874 is coming in Hydra 1.0.0rc3 and will probably address most uncovered use cases.

[2020-08-13 22:22] #874 closed

[2020-08-13 22:42] odelalleau commented on #873
I'll take it

[2020-08-13 23:56] omry commented on #873
can you assign to yourself?

[2020-08-14 01:58] omry opened #877 "Allow overriding of defaults list and hydra node regardless of node schema"
Given this primary config node:

[code]

It does not mention the hydra node or the defaults list.
This means that overriding either from the corresponding `config.yaml` file will be rejected per the schema.

Those two fields should be whitelisted to allow the following config.yaml to be validated against this schema without issues.

[code]

[2020-08-14 06:17] r9y9 commented on #386
Wow, `--config-dir` option is exactly what I wanted. It worked perfectly in my use case, where I wanted to allow hydra app users to have custom configurations outside the package path. Looking forward to v1.0.0 release 💯

[2020-08-14 08:21] omry commented on #386
Hydra 1.0.0 already has rc2 released which you can  try today (`pip install hydra-core --pre --upgrade`).
You will be able to try --config-dir now by installing from master.

[2020-08-14 11:31] odelalleau commented on #873
No, looks like I don't have permission for that

[2020-08-14 12:38] shagunsodhani commented on #873
@odelalleau needs to be added to the repo. I dont recall the procedure for this but had the same problem when I started working on Hydra.

[2020-08-14 18:31] samuelstanton commented on #861
I'm having the same problem. Any suggestions for a temporary workaround?

[2020-08-14 19:43] calebho commented on #861
@samuelstanton You can move the `register_resolver` inside `main` as I mentioned in the bug report

[2020-08-15 01:35] #872 closed

[2020-08-15 01:44] #831 closed

[2020-08-15 23:46] YannDubs opened #881 "[Bug]: Nevergrad sweeper does not work with integers if there are less than 6 choices"
Nevergrad sweeper complains if it has less than 6 values to sweep over in a range (e.g. `lower: 1` `upper:3`) and asks to use a list instead (`ValueError: For integers with 6 or fewer values, use a choice instead`). But if you use a list with integers it does not work because it assumes that choices contain only strings:

![Screen Shot 2020-08-15 at 7 42 39 PM](https://user-images.githubuserconten

[2020-08-16 00:57] omry commented on #881
This is going to be changed dramatically soon anyway.
we will be sure to test this case when we change it.
Take a look at the [Extended grammar syntax for a sneak preview](https://hydra.cc/docs/next/advanced/override_grammar/extended

cc @shagunsodhani

[2020-08-16 01:01] omry opened #882 "Deprecated ObjectConf for TargetConf"
This is a partial implementation of #566.

## TLDR
Object configs is changing from:
[code]
to:
[code]
This include Hydra's launchers and sweepers, so if they appear in your config file you will need to adjust the configs.

## Details

ObjectConf:
[code]

TargetConf:
[code]

This will be deprecated for user code, but for Hydra it's a breaking change because sweeper and launchers will no longer need

[2020-08-16 01:58] #877 closed

[2020-08-16 02:00] omry commented on #881
@YannDubs, please provide a minimal repo.

[2020-08-16 05:36] omry opened #884 "Enable mypy for plugins"
For some reason mypy is not running for plugins.
we should fix it, I noticed some type errors in plugins.

[2020-08-16 15:48] omry commented on #882
Possible alternative designs/names for TargetConf.
Happy to discuss this while it's still hot.
[code]

[2020-08-16 18:19] shagunsodhani commented on #882
My vote is for 1. It is clean, simpler and unambiguous.

[2020-08-17 06:25] #882 closed

[2020-08-18 07:24] omry opened #887 "[Bug] instantiate fails if None config is passed"
should return None.

[2020-08-18 08:46] omry opened #889 "Upgrade to OmegaConf 2.0.1rc12"
This release of OmegaConf is deprecating cfg.pretty() in favor of OmegaConf.to_yaml(cfg)
In addition it removes the warning from usage of dot keys and solve a good number of bugs.

[2020-08-18 16:07] #887 closed

[2020-08-18 16:07] #889 closed

[2020-08-19 03:21] thoth291 commented on #861
@calebho, simply moving it inside the `main` will not work perfectly - it will break normal `basic launcher` with `multirun`.
Moreover, the same behavior is happening with `joblib` - so it's not specific to `submitit` - maybe renaming an issue would help.

I had similar issue few days ago but went around it by doing this in my `main`:
[code]
I forgot to report it - that would save some of your tim

[2020-08-19 03:22] #858 closed

[2020-08-19 17:20] #752 closed

[2020-08-19 18:37] odelalleau opened #891 "[Bug] Hydra's override grammar allows quoted resolver args, but OmegaConf does not recognize them"
# 🐛 Bug

## Description

Best explained with an example (assume a basic `my_app.py` that prints the resolved config):

[code]

This is because in the current version of OmegaConf, quotes are not allowed inside interpolations.

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to reproduce **

[code]

Then tr

[2020-08-19 21:53] #856 closed

[2020-08-20 02:12] #854 closed

[2020-08-20 14:51] Hulk89 commented on #566
I'm currently use recursive instantiating like this.

## config.yaml
[code]

## main.py
[code]

`__args` is for non-primitive objects.
1. check if conf has `_target_` attribute and `__args`
2. then instantiate conf in `__args` and append it to `args`
3. delete `__args` in conf
4. instantiate conf with `args`

By seperating parent and child module, I can change all parameters. :)

[2020-08-20 15:17] Alexfinkelshtein opened #895 "[Bug] trying to use the mandatory attribute according to tutorial"
# 🐛 Bug
Hi, thanks for Hydra, seem like a perfect solution for me from reading the docs. especially the instance features

I'm trying to run some basic stuff to get familiar with Hydra, and when I'm trying to use the MISSING required attribute it crashes.

## Checklist
- [x] I checked on the latest version of Hydra (the recommended one from the README)

- [x] I created a minimal repro

It is demon

[2020-08-20 16:04] omry commented on #895
Please open your collab privacy.

[2020-08-20 16:36] Alexfinkelshtein commented on #895
thanks!
1. my bad.. I think it would be helpful if imports are added as a context for the docs
2. in my use case I will be mainly instantiating them myself.. is there a fundamental reason it would be wrong? or just less optimized by design for this use case
3. I am not sure with respect to what you mentioned this
4. isn't it used in the docs examples?

thanks again!

[2020-08-20 19:18] omry opened #896 "Allow calling instantiate on any types"
hydra.util.instantiate can accept arbitrary config object (namely structured configs) that has a `_target_` string field.
The API should allow passing those in safely even without extending TargetConf.

[2020-08-20 20:12] #895 closed

[2020-08-20 20:12] #896 closed

[2020-08-20 20:14] #881 closed

[2020-08-20 21:29] #873 closed

[2020-08-20 23:44] turian opened #898 "[Feature Request] Use ConfigStore without YAML"
# 🚀 Feature Request

It should be possible only to use a structured config, and no YAML config. The config gives the defaults and command-line arguments etc are used to override the defaults.

## Motivation

ConfigStore is very useful. To use ConfigStore, you must use structured configs. Structured configs are good, but it is cumbersome for some use-cases to maintain the config both in Python and

[2020-08-21 01:06] omry commented on #898
This is supported.

[2020-08-21 01:07] omry commented on #898
Most of the Structured Configs tutorial is dedicated to this.

[2020-08-21 01:07] #898 closed

[2020-08-21 02:02] #861 closed

[2020-08-21 19:55] odelalleau opened #902 "[Feature Request] Replace lexer token names by their symbols in ANTLR error messages"
# 🚀 Feature Request

Currently ANTLR error messages can look like this:

[code]

Instead of showing `missing EQUAL` it would be better to show `missing =`

## Motivation

More user-friendly error messages.

## Pitch

**Describe the solution you'd like**
Override some methods of `hydra.grammar.gen.OverrideParser` to replace lexer token names by their symbols for all tokens of the form `WS? <symbol>

[2020-08-21 20:44] Queuecumber opened #903 "[Bug] Hydra Resolvers Not Being Propagated"
# 🐛 Bug
## Description

Follow up for #861 I'm using submitit to launch jobs and they can't resolve the `${hyda:...}` interpolations.

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to reproduce **

This **minimal** code makes sure the error message is written to the console used to launch:

[code]

Confi

[2020-08-21 21:16] Queuecumber opened #904 "[Bug] Not able to Access Parent Fields in instantiate Interpolation"
# 🐛 Bug
## Description

Followup on #388 the parent fields seem to be getting lost again. If I have a field that is an interpolation of a field higher up in the hierarchy, I can print out the value fine but I can't use it within instiantiate.

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to reproduce **

[2020-08-21 21:40] #903 closed, assigned to nobody

[2020-08-21 21:44] omry opened #905 "Update Example Launcher Plugin mention restoring the singletons"
The singletons should be restored when performing multi-process launching.
something

[code]

[2020-08-23 06:31] omry opened #910 "Support disabling working directory management"
Disabling the output directory management should be supported.
This includes:
- Not changing the working directory
- Not saving the .hydra directory
- Potentially not saving a log file

Workarounds in 1.0 / 1.1:
- Not changing the working directory: override `hydra.run.dir` to `.`
- Not saving the .hydra directory: override `hydra.output_subdir` to `null`
- Potentially not saving a log file: overr

[2020-08-24 00:06] #904 closed

[2020-08-24 16:46] shagunsodhani opened #913 "[Ax-Plugin] Switch back to the usage of "." in place of "_""
_Originally posted by @omry in https://github.com/facebookresearch/hydra/pull/912#issuecomment-679236669_

[2020-08-24 23:27] shagunsodhani opened #915 "Support casting intervals to int"
Edit by omry:

Interval are for continuous values, interval(0,1) represents all the infinite range `0.0 <= < x < 1.0`.
For that reason, intervals are always representing floating point values and cannot currently be cast to int.

Ax supports something unique which an interval of integers.
the optimization is done in the continuous space, but the values outputted by the optimization process are alw

[2020-08-24 23:30] #905 closed

[2020-08-25 03:32] #723 closed

[2020-08-25 04:49] omry opened #918 "Extended Structured Configs tutorial with One to many and many to many examples"
Add examples for:
- 1 schema, many configs
- many schemas, many configs

Update Structured Configs tutorial to describe the two use cases.

See #917.

[2020-08-25 10:12] paantya opened #919 "[Bug] AttributeError: module 'hydra' has no attribute 'main'"
# 🐛 Bug
## Description
AttributeError: module 'hydra' has no attribute 'main'

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

[code]

[code]

## Expected Behavior
Just works

## System information
Hydra: hydra-core-1.0.0rc4
OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect

[2020-08-25 10:24] paantya opened #920 "[Bug] ModuleNotFoundError: No module named 'hydra.experimental'; 'hydra' is not a package"
# 🐛 Bug
## Description
ModuleNotFoundError: No module named 'hydra.experimental'; 'hydra' is not a package

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

`from hydra.experimental import initialize, compose`

[code]

## Expected Behavior
jast works

## System information
Hydra: hydra-core-1.0.0rc4
OS: Ubuntu 18.04.5 LTS (x86_64)
GCC ve

[2020-08-25 15:48] omry commented on #920
Please show pip freee output.

[2020-08-25 16:10] omry commented on #919
you already opened one issue about this. you probably did not install correctly. let's keep the discussion on the other issue.

[2020-08-25 16:10] #919 closed

[2020-08-25 21:48] #915 closed

[2020-08-26 10:57] paantya commented on #920
@omry
[code]

[2020-08-26 11:04] paantya commented on #920
it looks like I chose the wrong interpreter

[2020-08-26 11:08] paantya commented on #920
Is it possible to somehow derive a version hydra from Python?

[2020-08-26 12:48] rvorias opened #922 "[Bug] hydra breaks relative paths in config file"
# 🐛 Bug
## Description
In my config file, `test_config.yaml` I have:
[code]

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to reproduce **
[code]
** Stack trace/error message **
[code]

## Expected Behavior
The normal working directory should not change.

## System information
- **Hydra Version** :  hydr

[2020-08-26 14:34] jieru-hu commented on #922
This is the default Hydra behavior. More info can be found on this doc https://hydra.cc/docs/next/tutorials/basic/running_your_app/working_directory

If you want the path to work in the you original working dir, you can do
`hydra.utils.get_original_cwd()`

[2020-08-26 14:35] #922 closed

[2020-08-26 14:43] jieru-hu commented on #920
You can run
`pip freeze | grep hydra` to get the Hydra version

It looks like an installation issue, could you start with a fresh conda env and try reinstall Hydra?

[2020-08-26 14:50] omry commented on #920
@paantya:
I asked for the output of pip freeze and you show me the output of pip install.

[2020-08-26 14:51] jieru-hu commented on #922
We do have an open issue to support disabling this behavior :)  https://github.com/facebookresearch/hydra/issues/910

[2020-08-26 15:05] rvorias commented on #922
@jieru-hu : Thanks for linking to the docs. I tried searching for it, but I didn't find it. My bad!
To me, it's a bit counter-intuitive that the whole cwd changes inside the decorated function.
Anyway, nice to hear we might  be able to disable it in the future.

[2020-08-26 15:16] omry commented on #920
From your output it would appear that you installed hydra in your base conda environment. this strikes me as a mistake or as a terrible idea.

[2020-08-26 19:48] #918 closed

[2020-08-26 19:53] omry opened #923 "Upgrade black"

[2020-08-27 01:01] #923 closed

[2020-08-27 06:38] omry commented on #920
Closing under the assumption that you have an installation issue and/or you installed the wrong Hydra package.

[2020-08-27 06:38] #920 closed

[2020-08-27 06:44] omry commented on #913
Not blocking Hydra 1.0.

[2020-08-27 06:44] omry commented on #807
Not blocking Hydra 1.0

[2020-08-27 06:45] omry commented on #871
Not blocking Hydra 1.0

[2020-08-27 07:26] #361 closed

[2020-08-27 07:26] #884 closed

[2020-08-27 20:32] ferrine opened #926 "pdb can't be used if hydra main decorator used"
# 🚀 Feature Request: PDB support

## Motivation

I got used to debug pipelines with `pdb`, but it looks to be impossible with hydra decorator

### Example
Consider a script
[code]
and you want to use `pdb` to fix the error. For deep learning it might be inspecting weights for nans, grad norms, stack levels.
Without any interaction, program finishes with error code `1`

[code]
with `HYDRA_FULL_ERRO

[2020-08-27 22:09] omry commented on #926
1. Please set a title to your issue.
2. Please explain what the problem is before suggesting solutions.

[2020-08-28 06:42] ferrine commented on #926
@omry done

[2020-08-28 07:06] #720 closed

[2020-08-28 15:32] omry commented on #926
Thanks.

[2020-08-28 17:02] omry commented on #926
#930 is changing the behavior of Hydra to raise the exception if HYDRA_FULL_ERROR is true instead of printing it and exiting.

[2020-08-28 23:28] #926 closed

[2020-08-31 14:56] a-z-e-r-i-l-a opened #933 "yaml.constructor.ConstructorError: could not determine a constructor for the tag"
I have a yaml file which has the following lines:

    grasp_pose: !!python/object/new:geometry_msgs.msg._Pose.Pose
        state:
          - !!python/object/new:geometry_msgs.msg._Point.Point
            state: [0.445, -0.449, 0.116]

which loads with no problem using yaml:

    with open(os.path.expanduser(config_path), 'r') as f:
        self.config = yaml.load(f, Loader=yaml.Loader)

However,

[2020-08-31 20:22] greaber commented on #149
I'm finding that tab completion takes about three seconds, which seems quite slow.  Is this normal?

[2020-08-31 20:25] omry commented on #149
No, it is not normal.
tab completion is composing the full config. does it also take you 3 second to compose the config (time between calling the `@hydra.main` function and entering the function?
If so, you either have some very large config or possibly your IO is very slow. (are you running on an NFS mount?).

[2020-08-31 20:30] omry commented on #933
You asked the same question in [Stack Overflow](https://stackoverflow.com/questions/63672774/yaml-constructor-constructorerror-could-not-determine-a-constructor-for-the-tag) and OmegaConf. there is no need to ask the same questions 3 times.
I answered in Stack Overflow.

[2020-08-31 20:30] #933 closed

[2020-08-31 20:48] greaber commented on #149
I'm running on an SSD on bare metal.  I just measure composing the config as you suggested, and it takes about 0.6 seconds.  I also tried without loading my normal `.bash_profile`, but that didn't help.

[2020-08-31 22:25] omry commented on #149
Please open a new issue and provide details about your hardware, software setup as well as the output of --info.

[2020-09-01 09:47] greaber opened #934 "[Bug] tab completion slow with slow imports"
# 🐛 Bug
## Description

Bash tab completion is slow for me (over two seconds even with a trivial config and a moderately complex config adds another 600ms).  It seems that the reason is that it is loading my whole script, and some imports are slow.

## Checklist
- [ x] I checked on the latest version of Hydra
- [ x] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to repr

[2020-09-01 15:21] omry commented on #934
Thanks for the report @greaber.
As you have identified this as caused by your imports, what you can do to improve things is to delay those imports.

### original:
main.py
[code]

## modified:
main.py
[code]

train.py
[code]

[2020-09-01 20:58] greaber commented on #934
I see.  I guess it could be pretty nice if the completion could use some kind of cache so it doesn't have to do this analysis on every completion, but I understand that would take a significant effort to implement, and it's not something I have time to do.

[2020-09-01 23:01] omry commented on #934
Yup, running some kind of daemon would be perfect to cache the resulting config object, but as you pointed out this is a major effort and I am not sure it's worth it as this time.

Closing for now.

[2020-09-01 23:01] #934 closed

[2020-09-02 00:34] #755 closed

[2020-09-02 08:49] skmatz opened #938 "Overwrite string containing equal signs from command line"
# 🚀 Feature Request

Allow overwriting string containing equal signs from the command line.

## Motivation

Currently, we will get an error when trying to overwrite a value from the command line as follows.

[code]

## Pitch

I don't know the specifics, but it may be possible to deal with it by updating the parser.

**Are you willing to open a pull request?** (See [CONTRIBUTING](../../CONTRIBUTING

[2020-09-02 20:54] divchenko opened #939 "[Feature Request] Support merging dictionaries from command line"
[code]

The following doesn't work when using structured Config from command line as it complains about mismatched types dict vs Stage:
[code]

Error:
[code]

[2020-09-02 20:59] omry commented on #939
Thanks for reporting. This is indeed a functional gap with Hydra 1.0.
As a temporary workaround, you can do something like this:

[code]

(the interpolations are printed as is and are resolved on access. You can also print them with OmegaConf.to_yaml(cfg, resolve=True) to see them resolved in the output):
[code]

[2020-09-03 09:53] briankosw opened #940 "Workflow for multiple different experiments."
I wanted to learn more about the best workflow for when working on multiple different kinds of experiments. Let's say I have configurations A and B, where A and B will have overlapping hyperparameter types but might have different hyperparameter types (e.g. configuration A doesn't use Dropout but configuration B has a Dropout probability). Would I just feed the train script with the corresponding

[2020-09-03 18:09] omry commented on #940
This sounds like a perfect use case for the primary feature of Hydra, which is config composition.
Please take a look at the basic tutorial, and in particular at [config groups](https://hydra.cc/docs/tutorials/basic/your_first_app/config_groups).

Generally speaking, composition allow you to access an infinite number of configs. you should not normally need to override your primary config - just t

[2020-09-03 18:09] #940 closed

[2020-09-03 18:13] omry commented on #938
Your shell is intercepting the `=`:

try this:
[code]

Read about working with your shell [here](https://hydra.cc/docs/advanced/override_grammar/basic#working-with-your-shell).

[2020-09-03 18:13] #938 closed

[2020-09-04 22:03] omry opened #946 "[Bug] Assigning a dictionary to untyped field fails"
I am expecting this to work:
[code]

[2020-09-04 22:04] #370 closed

[2020-09-04 22:08] shagunsodhani opened #947 "[Bug] Overriding dict using cmd"
# 🐛 Bug
## Description

Can not override a dict from commandline

## Checklist
- [x ] I checked on the latest version of Hydra
- [x ] I created a minimal repro

## To reproduce

** Minimal Code/Config snippet to reproduce **

https://gist.github.com/shagunsodhani/29f8937047fbc10f351a02f1601724ce

** Stack trace/error message **

[code]

[code]

[code]

## Expected Behavior

## System information
-

[2020-09-04 22:42] omry commented on #947
I believe this is a duplicate of #946, let me know if you think otherwise.

[2020-09-04 22:42] #947 closed

[2020-09-05 23:43] Chizkiyahu opened #949 "[Bug]"
# 🐛 Bug
## Description
When I try to open the Hydra in Jupyter Notebooks with Binder and get error **404**

## To reproduce
go to [hydra/examples/jupyter_notebooks/](https://github.com/facebookresearch/hydra/tree/e46b09b888df23eee6a84180659d8ae591d34bde/examples/jupyter_notebooks#jupyter-notebooks) and click the Binder button

[code]

## Expected Behavior
the page open with no errors

## Additiona

[2020-09-05 23:48] omry commented on #949
Thanks for reporting, I corrected the link. please try again.

[2020-09-05 23:48] #949 closed

[2020-09-06 00:19] Chizkiyahu commented on #949
the new link not working (try in Incognito mode)
the correct link is https://mybinder.org/v2/gh/facebookresearch/hydra/master?filepath=examples%2Fjupyter_notebooks%2Fcompose_configs_in_notebook.ipynb

[2020-09-06 00:47] omry commented on #949
oops.

[2020-09-06 07:44] roopeshvs commented on #751
@omry Is this still open? If yes, please elaborate on the pitfall that makes it harder. I would like to work on it.

[2020-09-06 07:47] omry commented on #751
Hi @roopeshvs.
Yes, it's still open.
The Hydra repository contains multiple different codebases, in particular the plugins are standalone packages.
This means that the rules to decide if something is a third party dependency changes per plugin.
There is also some generated code which should be excluded from formatting.
give it shot!

[2020-09-06 10:33] roopeshvs commented on #751
Would each plugin having its own do .isort.conf with appropriate third party dependencies do the trick?

[2020-09-06 15:15] pranavdurai10 commented on #696
Hey @omry, is this still open for contribution?

[2020-09-06 16:19] omry commented on #751
Seems reasonable to require it from plugins.

[2020-09-06 16:20] omry commented on #696
Yes, I think interactive versions of the tutorials would be a great addition to Hydra.

[2020-09-06 16:47] pranavdurai10 commented on #696
I would like to contribute. Can you explain the nature of work? @omry

[2020-09-06 16:51] omry commented on #696
At a high level, create interactive versions of the Hydra tutorials in Katacoda.
Take a look at the Kubernetes tutorial linked above to get an idea about how Katakoda can be used.

This is creative work, I can't really describe it in detail.

[2020-09-08 07:39] omry opened #951 "Create an example for PyTorch DDP"
- [ ] Launching a single DDP group with multirun
- [ ] Launching multiple DDP groups with multirun

[Chat topic](https://hydra-framework.zulipchat.com/#narrow/stream/213879-Hydra/topic/combination.20hydra.20and.20pytorch's.20distributed.2Elaunch) with ideas about implementation strategy.

[2020-09-08 18:31] omry commented on #939
See omry/omegaconf#360.

[2020-09-08 21:47] liuzhenqi77 opened #953 "[Feature Request] Promote Compose API to hydra.compose()"
# 🚀 Feature Request

Promote Compose API to `hydra.compose()` decorator

## Motivation

As a Hydra beginner, I quickly stumbled upon this issue of `hydra.main()` not returning values (#769). Then I switch to the Compose API, which I find really useful when starting & testing a project from scratch, when I do not need complex functions like multirun at this stage. Sometimes only config and some log

[2020-09-09 00:30] omry commented on #953
Hi @liuzhenqi77, thanks for your suggestion.

I strongly suggest using `@hydra.main` by default and reverting to compose() in cases where you do not have access to the command line. (tests, notebooks etc).
By starting your project using compose you are basically guaranteeing that you will have difficulties down the line.

If you want to return a value from your `@hydra.main` you are probably think

[2020-09-09 00:30] #953 closed

[2020-09-09 02:10] #939 closed

[2020-09-09 02:10] #946 closed

[2020-09-09 06:14] vporta commented on #751
@omry I saw this issue and read the isort 5.0+ upgrade docs. It says only one isort config file per project for the new version and more than one will be merged into one. I can open a PR for you to review since I worked on this a bit today

[2020-09-09 08:01] omry commented on #751
@vporta, that would be great.
please note that I use nox to drive the linting, and I want to automatically (or almost automatically) discover plugins, tools and examples - as is the case now.

see noxfile.py to understand the current logic.

[2020-09-09 23:49] nmichlo opened #956 "[Feature Request] Retain the final defaults list in the Hydra config"
# 🚀 Feature Request

Add an OmegaConf resolver for defaults, or allow value interpolation for defaults globally in a config by disabling deletion of the defaults key when Hydra loads a config.

**tl;dr:** add a `defaults` resolver, similar to the `hydra` resolver.

## Motivation

**Is your feature request related to a problem? Please describe.**

Currently defaults can only be accessed from within

[2020-09-10 00:16] omry commented on #956
I can add the final defaults list to the Hydra config object, which will allow you to interact with it.
Currently the override are retained but not the final defaults list.

see `hydra.overrides` in your Hydra config.

[2020-09-10 10:13] nmichlo commented on #956
Thank you. I missed `hydra.overrides` and now I realise I've been talking about defaults the whole time without considering them, the final merged defaults + overrides list as you say makes much more sense.

[2020-09-10 17:28] omry commented on #956
Great. I will address this with 1.1, as small a change as it is I am done adding new features to 1.0.

[2020-09-10 19:40] omry commented on #816
I doubt we will do it, feel free to reopen if you want to work on it.

[2020-09-10 19:40] #816 closed

[2020-09-10 19:46] #715 closed

[2020-09-11 08:39] hforharsh commented on #919
This error still exist post reinstallation, is there a resolution for this.

[2020-09-11 08:51] omry commented on #919
Yes. install Hydra per the instructions in the website, instead of taking a guess at `pip install hydra`.

[2020-09-11 19:25] romesco opened #960 "Add jinja2 to requirements for configen"
## System information
- **Hydra Version** :  master
- **Python version** : 3.8
- **Virtual environment type and version** : conda w/ pip
- **Operating system** : 16.0.4

[2020-09-11 19:44] omry commented on #960
configen got it's own setup.py and it has jinja.

[2020-09-11 19:45] omry commented on #960
Until it's ready and published, the plan is that you install it from the Hydra repo with `pip install tools/configen`.

[2020-09-11 19:45] #960 closed

[2020-09-12 02:28] another-pjohnson opened #962 "[Bug] Cannot use overrides containing '%' character"
# 🐛 Bug
## Description
I am unable to override a value that contains the '%' character without doing special quoting around the override

## To reproduce

[code]

** Minimal Code/Config snippet to reproduce **
[code]

** Stack trace/error message **
[code]

## Expected Behavior
bar's value should be set to "/path/to/pattern_%r.bin".

## System information
- **Hydra Version** :  1.0.0
- **Python ve

[2020-09-12 02:34] omry commented on #962
Thanks for reporting, will take a look.

[2020-09-12 19:22] romesco commented on #960
👍

[2020-09-12 22:08] #962 closed

[2020-09-14 10:01] gerardsn opened #964 "[Bug] hydra-joblib-launcher crashes when PyTorch DataLoader num_workers>0"
# 🐛 Bug
## Description
As title. The hydra-joblib-launcher fails when setting num_workers>0 in PyTorch's DataLoader.  If num_workers==0 everything works just fine. However, the speedup achieved with joblib multiprocessing barely (if at all) compensates for increased runtime of individual jobs.

## Checklist
- [x] I checked on the latest version of Hydra
- [x] I created a minimal repro

## To repro

[2020-09-14 19:23] omry commented on #964
This is likely an issue between joblib and PyTorch.
Try to reproduce with joblib and PyTorch. If you can, please file an issue against joblib and / or PyTorch.

In the mean time, you might want to try out the submitit plugin, which also has a local mode (similar to joblib). Maybe it will work better.

@jan-matthis, fyi.

[2020-09-15 02:21] gerardsn commented on #964
I get the same error using PyTorch/joblib, so not hydra related indeed. Will give the submitit plugin a go later and see if that works.

[2020-09-15 02:23] omry commented on #964
Thanks for checking.
It would be great if you can file an issue against joblib to see what they think (please tag me if you do).

[2020-09-15 06:35] romesco opened #967 "[Bug] [configen] Verify configen output to only valid OmegaConf types"
# 🐛 Bug
## Description
Currently, configen will generate configs with types which may not be supported by hydra.

Example:
[code]

where `<required parameter>` is a string.

Ideally, this line should be: `lr: Any = MISSING`

[2020-09-15 07:32] gerardsn commented on #964
@omry joblib issue at https://github.com/joblib/joblib/issues/1104

Submitit seems to be a workaround, but I can't get `submitit_local` to work properly. With `joblib` I can fix the number of jobs running simultaneously to say 3 by setting `n_jobs=3`. I expected to be able to do the same thing with submitit using the following config:
[code]
However, it seems that this just creates n==3 jobs on th

[2020-09-15 07:38] omry commented on #964
Generally submitit-local is mostly used for debugging, I am not sure it has this functionality.
@jrapin ?

About the .submitit directory:
It's not possible to disable it. Especially when running with SLURM (which is what submitit it really for) - You can have failures to start the job before the process even  get to run. Those are impossible to debug without the .submitit directory.

[2020-09-15 08:22] omry commented on #964
@gerardsn, I think the repro you created in the joblib is different.
In the joblib launcher, the launcher spawn your processes before your `@hydra.main()` function is called, only then the workers are starting.

In the your pure joblib repro you first spwan the dataloader workers  and then the joblib workers.

[2020-09-15 08:31] omry commented on #964
Looking at the stacktrace carefully, you can see that somehow torch dataloader spawning processes is hitting the joblib code.
They must somehow be manipulating the default process spawning to go through joblib and they are failing there.
This seems an issue with joblib workers spawning regular processes.

[code]

[2020-09-15 10:46] vfdev-5 opened #968 "Failed to merge configurations"
# 🐛 Bug
## Description

I'm migrating the code and configs from hydra-core < 1.0 to 1.X following :
https://hydra.cc/docs/upgrades/0.11_to_1.0/config_path_changes and other sections

But I encounter an issue with merging configs, which is related to the following warning:
[code]

The config I have is the that:
1) global file : `config/train_gan.yaml`  where `data` object is defined by a group and

[2020-09-15 15:44] gerardsn commented on #964
Changing Joblib to use `prefer=threads` instead of `backend=loky` runs without failure (no errors, not sure if it does the right thing). See change in last line of code below

[code]

Unfortunately hydra appears to be incompatible with anything else than the loky backend #423. Commenting out the hardcoded loky backend in the hydra-joblib-launcher does run, but it does not produce the expected resu

[2020-09-15 15:53] omry commented on #964
Hydra is not compatible with the threaded backend. You are going to have a bad time.

[2020-09-15 15:59] omry commented on #968
The warning is a red herring, it's unrelated to the issue you are seeing (and will go away as soon as I release Hydra 1.0.1.
In the mean time you can downgreade OmegaConf to 2.0.2rc2 and it should go away.

Take a look at the resulting config:
You will probably end up with:
[code]
The significance of using `# @package _group_` is that the config group name will automatically become a part of the p

[2020-09-15 15:59] #968 closed

[2020-09-15 18:06] omry commented on #964
Closing as this is not a bug in Hydra. Feel free to continue discussing here.

[2020-09-15 18:06] #964 closed

[2020-09-15 23:37] #967 closed

[2020-09-16 07:28] gerardsn commented on #964
Alright. I finally managed to get it to work by forcing the PyTorch `DataLoader` to use `multiprocessing_context='fork'`. Apparently the loky backend in joblib clashes with the other forking methods. Below is minimum working example using `hydra`, `hydra-joblib-launcher`, and `DataLoader(..., num_workers>0, multiprocessing_context='fork')`.

[code]
and

[code]

It is worth noting that if one of th

[2020-09-16 08:22] omry commented on #964
Awesome, thanks.

[2020-09-16 18:23] jieru-hu opened #973 "Move deploy-website action from circleCI to github"
## Motivation

We want to move our github token  back to github instead of saving it in circleCI.

## Action items
- [x] Create github action to deploy webiste in master first with the actual deployment part commented out first (just to make sure the github action run as expected) https://github.com/facebookresearch/hydra/pull/974/files
- [x] Create github token secret in github actions.
- [x] Rem

[2020-09-17 00:43] Jasha10 opened #981 "[Feature Request] @dataclass `__post_init__` for config validation"
# 🚀 Feature Request

The `__post_init__` hook called by the `__init__` function defined in `dataclasses` can be used for post-processing or validation of configuration information.

## Motivation

One possible use case for the `__post_init__` hook defined in [PEP 557 -- Data Classes](https://www.python.org/dev/peps/pep-0557/) is the validation of configuration data. Here is an example:
[code]
When

[2020-09-17 02:26] jieru-hu commented on #973
closing. All todo items done.

[2020-09-17 02:26] #973 closed

[2020-09-17 02:30] omry opened #982 "Instantiate: Support annotation of passthrough values"
When instantiating PyTorch optimizers, the params cannot be a part of the configuration.
It is a tensor that is only available at runtime.
To enable instantiating of optimizers, instantiate supports passthrough:
[code]

Since it's not possible to annotate params as a Tensor in dataclasses used for Structured Configs, there is no way to declare that params is a required value.

The idea is to add s

[2020-09-17 02:42] omry commented on #973
Good job :)

[2020-09-17 19:12] omry commented on #981
Thanks for the thoughtful feature request @Jasha10.
This feature request should be against OmegaConf and not Hydra, but I can respond here.

`__post_init__` depends on Structured Configs method support in OmegaConf. Currently methods are not supported and it's something I will consider for a later OmegaConf version.

The use cases you are describing will be addressed by omegaconf#131.
post_init me

[2020-09-17 19:12] #981 closed

[2020-09-18 01:30] jieru-hu opened #987 "Investigate why we need to pip install dataclasses when test on circleCI with python 3.6"
https://github.com/facebookresearch/hydra/blob/6b960fb0ff4306ff7f76d8a9c500b19d71b2c75b/.circleci/config.yml#L29

This should have been handled as part of installing Hydra

[2020-09-18 01:58] shagunsodhani commented on #987
In the file you linked, Hydra isnt installed correct? Or did I miss something?

[2020-09-18 02:05] jieru-hu commented on #987
This is not a great issue description. I will add more details to it.
Hydra is installed during ```nox```
https://github.com/facebookresearch/hydra/blob/6b960fb0ff4306ff7f76d8a9c500b19d71b2c75b/.circleci/config.yml#L165

[2020-09-18 02:12] shagunsodhani commented on #987
ahh thanks :)

[2020-09-18 02:13] jieru-hu commented on #987
yea, sorry for the confusion. It's pretty not obvious lol

[2020-09-18 16:00] Queuecumber opened #988 "[Bug] Custom Resolver Only Works Somtimes"
# 🐛 Bug
## Description
This may be an OmegaConf issue, I'm not sure where is the more appropriate place to put it.

I have a custom OmegaConf resolver registered that uses eval because sometimes I need to pass real python objects in a generic way (e.g. I can't assume what the type will be in code but the writer of the config file knows):

[code]

This resolver only seems to work sometimes, and I'm

[2020-09-18 16:12] omry commented on #988
First of all, this is a pretty terrible abuse. can you share some details about what objects you are actually passing and why?

Read the [docs for custom resolvers](https://omegaconf.readthedocs.io/en/2.0_branch/usage.html#custom-interpolations), they outline the supported format (which, by the way - is likely to change in the next major version of OmegaConf).
I can imagine many cases when trying

[2020-09-18 16:12] #988 closed

[2020-09-18 16:25] Queuecumber commented on #988
Yeah I think that some would consider this an anti-pattern

I see the issue with commas but not with parenthesis

I have a generic pipeline that I'm writing, it can take different datasets and different models and wraps them in a consistent process. This becomes a problem for when, for example, I need to support normal pytorch stuff and detectron, the latter doesnt work with the default collate fu

[2020-09-18 16:58] omry commented on #988
One thing you can do for the first problem is to pass in a function name as a regular string and just get a the function object with hydra.utils.get_method().
at that point you can call it directly instead of through config access.

for
[code]
What is the advantage over a simple list?
[code]
or
[code]

[2020-09-18 16:58] omry commented on #988
About brackets, There is an open issue with them, they are not a supported character in interpolations at the moment.